<div class="full_page_photo no_photo">

</div>

<div class="main">
  <div class="container triangles-of-section">
               <div class="triangle-up-left"></div>
               <div class="square-left"></div>
               <div class="triangle-up-right"></div>
               <div class="square-right"></div>
          </div>
  <section>
     <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

<<<<<<< HEAD
								<h1>Write a new article</h1>
=======
								<h1>Create a new Post</h1>
>>>>>>> new_blog


								<%= render 'form' %>

								<%= link_to 'Back', blog_posts_path %>


            </div>
        </div>
    </div>


  </section>
</div>
