<div class="full_page_photo no_photo">

</div>

<div class="main">
  <div class="container triangles-of-section">
               <div class="triangle-up-left"></div>
               <div class="square-left"></div>
               <div class="triangle-up-right"></div>
               <div class="square-right"></div>
          </div>
  <section>
    <h2><%= @blog_post.title %></h2><br>
    <h1><%= @blog_post.author %></h1><br>
    <h1><%= @blog_post.body %></h1>
  </section>
</div>

