<body>

   <!--  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Subscribe</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Deep Blue Development</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div>
      </div>
    </nav> -->

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>Deep Blue Development</h1>
        <p>A one stop solution for all your development needs</p>
        <p></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-3">
          <p><i class="fa fa-desktop fa-5x"></i></p>
          <h3>Web Design & Development</h2>
          <p>Wheter you seek to create a static landing page, dynamic web application or a dynamic business solution, Deep Blue Develoment has the means to provide a clean and intuitive solution.</p>
          
        </div>
        <div class="col-md-3">
          <p><i class="fa fa-search fa-5x"></i></p>
          <h3>Search Engine Optimization</h2>
          <p>Dynamic Ad campaigns, content creation and site analytics. We can get you recognized by the traffic that seeks your business.</p>
          
       </div>
        <div class="col-md-3">
          <p><i id="need_bigger" class="fa fa-mobile"></i></p>
          <h3>Mobile Friendly Optimization</h2>
          <p>In 2015 Mobile traffic account for the majority of web traffic. If your website is not Mobile Friendly you're being highly penalized by Googles new Search Algorithm. Deep Blue Development is incredibly capable to optimize you in no time.</p>
            <p><br><a href="https://www.google.com/webmasters/tools/mobile-friendly/" class="btn btn-primary">Learn More Here</a> </p>
          
        </div>
      </div>

      <hr>

      <footer>
        <p>© Deep Blue Development 2015</p>
      </footer>
    </div> <!-- /container -->


</body>