
     <div class="full_page_photo" style="background-image: url(pics/slide3.jpeg);">
          <div class="hgroup">
               <div class="hgroup_title animated bounceInUp">
                    <div class="container">
                         <h1 class="">About us</h1>
                    </div>
               </div>
               <div class="hgroup_subtitle animated bounceInUp skincolored">
                    <div class="container">
                         <p>Small business with a <strong>character</strong> and a style unique enough to impress!</p>
                    </div>
               </div>
          </div>
     </div>
     <div class="main">
          <div class="container triangles-of-section">
               <div class="triangle-up-left"></div>
               <div class="square-left"></div>
               <div class="triangle-up-right"></div>
               <div class="square-right"></div>
          </div>

          <!-- HORIZONTAL TEASER -->

          <section class="horizontal_teaser">
               <div class="container">
                    <div class="row">
                         <div class="col-sm-12 col-md-4 horizontal_teaser_left">
                              <h3>We care for our work</h3>
                              <p>Frustrated with an industry that provides little in the way of transparency or consistency, Deep Blue Development is aiming to provide a status-quo: Something that scares many of our competitors. While many Software development companies have very high mininum work order such as $10-50k, here at Deep Blue Dev we start our quotes at a modest $750.</p>
                              <p>We aim to provide solutions for all businesses, because every business regardless of size should have a clean, mobile-friendly and fluid web presence. See how we can get you there!</p>
                              <a class="btn btn-primary" href="mailto:sparkcollaboration@gmail.com">Contact Us</a>
                         </div>
                         <div class="col-sm-12 col-md-8 horizontal_teaser_right">
                              <iframe class="video_iframe" src="http://www.powtoon.com/embed/duWihjL1Yx5/"></iframe>
                         </div>
                    </div>
               </div>
          </section>

          <!-- /HORIZONTAL TEASER -->

          <!-- CALL TO ACTION SECTION -->

          <section class="parallax call_to_action" style="background-image:url(images/parallax.jpg)">
               <div class="overlay"> <img alt="responsive" src="images/rocket_trans.png">
                    <h3>An Extension of<strong> your team!</strong></h3>
                    <h4>When you work with us you hire a dynamic team.</h4>
               </div>
          </section>

          <!-- /CALL TO ACTION SECTION -->



          <!-- TEAM MEMBERS SECTION -->

          <section class="team_members">
               <div class="container triangles-of-section">
                    <div class="triangle-up-left"></div>
                    <div class="square-left"></div>
                    <div class="triangle-up-right"></div>
                    <div class="square-right"></div>
               </div>
               <div class="container">
                    <h2 class="section_header fancy centered">Meet our Team... <small>they are always up to something good!</small></h2>
                    <div class="row">
                         <div class="col-sm-6 col-md-3">
                              <div class="team_member">
                                   <figure style="background-image: url(images/1b.jpg)"><img src="pics/seanc.jpg" alt="1a"></figure>
                                   <h5>Sean Cosentino</h5>
                                   <small>Web-Developer / Founder</small>
                                   <hr>
                                   <div class="team_social">
                                        <a href="https://twitter.com/deepbluedev"><i class="fa fa-twitter"></i></a>
                                        <a href="http://www.linkedin.com/in/seanjcosentino"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://github.com/scosentino"><i class="fa fa-github-alt"></i></a>
                                   </div>
                                   <p class="short_bio"></p>
                              </div>
                         </div>
                         <div class="col-sm-6 col-md-3">
                              <div class="team_member">
                                   <figure style="background-image: url(images/2b.jpg)"><img src="pics/frank.png" alt="2a"></figure>
                                   <h5>Frank Escalona</h5>
                                   <small>Sales Director / Strategist</small>
                                   <hr>
                                   <div class="team_social">
                                        <a href="https://twitter.com/deepbluedev"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                   </div>
                                   <p class="short_bio"></p>
                              </div>
                         </div>
                         <div class="col-sm-6 col-md-3">
                              <div class="team_member">
                                   <figure style="background-image: url(images/3b.jpg)"><img src="pics/fuzz.png" alt="3a"></figure>
                                   <h5>'Fuzz' Worley</h5>
                                   <small>Strategist / Web Developer</small>
                                   <hr>
                                   <div class="team_social">
                                        <a href="https://twitter.com/deepbluedev"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-github-alt"></i></a>
                                   </div>
                                   <p class="short_bio"></p>
                              </div>
                         </div>
                         <div class="col-sm-6 col-md-3">
                              <div class="team_member">
                                   <figure style="background-image: url(images/4b.jpg)"><img src="images/4a.jpg" alt="4a"></figure>
                                   <h5>Hayden Holliman</h5>
                                   <small>Creative Director</small>
                                   <hr>
                                   <div class="team_social">
                                        <a href="https://twitter.com/deepbluedev"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                   </div>
                                   <p class="short_bio"></p>
                              </div>
                         </div>
                    </div>
               </div>
          </section>

          <!-- /TEAM MEMBERS SECTION -->



     </div>

</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67120211-1', 'auto');
  ga('send', 'pageview');

</script>