 <div class="overflow_wrapper">
     
     <div class="full_page_photo">
          <div id="map"></div>
          <div class="container">
               <div class="hgroup">
                    <div class="hgroup_title animated bounceInUp ">
                         <div class="container">
                              <h1>Contact us</h1>
                         </div>
                    </div>
                    <div class="hgroup_subtitle animated bounceInUp skincolored">
                         <div class="container">
                              <p>We really <strong>enjoy communicating</strong> with our clients!</p>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <div class="main">
          <div class="container triangles-of-section">
               <div class="triangle-up-left"></div>
               <div class="square-left"></div>
               <div class="triangle-up-right"></div>
               <div class="square-right"></div>
          </div>
          <div class="container">
               <section>
                    <div class="row">

                         <!-- CONTACT CARD -->

                         <div class="office_address col-sm-12 col-md-12">
                              <div class="team_member"> 
                                   <img src="images/plethora_logo.png"  alt="logo">
                                   <h5>Deep Blue Development</h5>
                                   <small>Mobile-First Web Development</small><br>
                                   <address>
                                   400 NW 26th St<br>
                                   Miami, Fl 33126<br>
                                   </address>
                                   <abbr title="Phone">P:</abbr> (305) 744-4804<br>
                                   <abbr title="Email">E:</abbr> <a href="mailto:sparkcollaboration@gmail.com">sparkcollaboration@gmail.com</a> 
                              </div>
                         </div>

                         <!-- /CONTACT CARD -->

                         <!-- CONTACT FORM -->

                         

                         <!-- / CONTACT FORM -->

                    </div>
               </section>
          </div>
          
          <!-- NEWSLETTER SECTION -->

          <section class="parallax call_to_action" style="background-image:url(images/newsletter.jpg)">
               <div class="overlay"> 
                    <h3>Never miss a single <strong>feature</strong></h3>
                    <h4>Subscribe to our newsletter and learn about cutting edge updates!</h4>
                    
                         <A class="btn btn-primary"HREF="mailto:sparkcollaboration@gmail.com?subject=Thanks For joining&body=Just Send this email.">Subscribe</A>

                         
                   
               </div>
          </section>
<!-- 
          <div class="copyright">
                    <div class="container">
                         <div class="row">
                              <div class="col-sm-4 col-md-4">Copyright ©2015 all rights reserved </div>
                              <div class="col-sm-4 col-md-4">Deep Blue Development</div>
                              
                         </div>
                    </div>
               </div> -->

          