

<!-- page content START -->
<div class="content" id="content">

	<!-- portfoli slider START -->
	<div id="corporateSlider" class="corporate-slider">

		<!-- slide1 START -->
		<div class="kr-sky" data-duration="10000" data-transition="all">

			<!-- Setting slide background -->
        	<img class="sky-background" src="img/slides/corporate/slide2.jpg" alt="slide2" data-size="cover">

			<img class="kr-cloud" src="img/slides/corporate/web-dev.png"
				style="top:90px; left:80px; width:365px;"
				data-transitionin="offsetx:-600;duration:1500;delay:500;easing:easeInOutExpo;"
				data-transitionout="offsetx:-500; duration:1200; delay:3500;">

			<h1 class="kr-cloud slide-title big alt-title light-color"
				style="top:200px; left:480px; width:50%;"
				data-transitionin="offsety:500;duration:1500;delay:1500;easing:easeOutQuart;"
				data-transitionout="offsety:-500; scaley:0.1; duration:1200; delay:3500;easing:easeInOutExpo;">
			Development is what we do.</h1>

			<p 	class="kr-cloud slide-sub-title light-color"
				style="top:360px; left:480px; width:50%;"
				data-transitionin="offsety:500;duration:1500;delay:2200;easing:easeInOutExpo;"
				data-transitionout="offsety:-500; scaley:0.1; duration:1200; delay:3500;easing:easeOutQuart;">
			Applications, Landing Pages and Mobile Optimization</p>

			<p 	class="kr-cloud slide-sub-title"
				style="top:430px; left:480px;"
				data-transitionin="offsety:500;duration:1500;delay:2800;easing:easeOutQuart;"
				data-transitionout="offsety:500; scaley:0.1; duration:1200; delay:3500;easing:easeInOutExpo;">
				<a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#gen_contact_modal" title="Lets Start">Lets Get Started</a>
			</p>

		</div>
		<!-- slide1 END -->

		<!-- slide2 START -->
		<div class="kr-sky" data-duration="10000" data-transition="all">

			<!-- Setting slide background -->
        	<img class="sky-background" src="img/slides/corporate/slide3.jpg" alt="slide1" data-size="cover">

			<h1 class="kr-cloud slide-title big alt-title light-color"
				style="top:220px; left:100px; width:50%;"
				data-transitionin="offsety:500;duration:1500;delay:1500;easing:easeOutQuart;"
				data-transitionout="offsety:-500; scaley:0.1; duration:1200; delay:3500;easing:easeInOutExpo;">
			Get Mobile Friendly</h1>

			<p 	class="kr-cloud slide-sub-title light-color"
				style="top:310px; left:100px; width:45%;"
				data-transitionin="offsety:500;duration:1500;delay:2200;easing:easeInOutExpo;"
				data-transitionout="offsety:-500; scaley:0.1; duration:1200; delay:3500;easing:easeInOutExpo;">
			In 2015, your online presence matters, make sure you are getting the most out of your business's online profile.</p>

			<p 	class="kr-cloud slide-sub-title"
				style="top:420px; left:100px;"
				data-transitionin="offsety:500;duration:1500;delay:2800;easing:easeOutQuart;"
				data-transitionout="offsety:500; scaley:0.1; duration:1200; delay:3500;easing:easeInOutExpo;">
				<a href="https://www.google.com/webmasters/tools/mobile-friendly/" class="btn btn-primary btn-lg" title="Lest Start">Are you mobile friendly?</a>
			</p>

		</div>
		<!-- slide2 END -->

		<!-- slide3 START -->
		<div class="kr-sky" data-duration="10000" data-transition="all">

			<!-- Setting slide background -->
        	<img class="sky-background" src="img/slides/corporate/slide1.jpg" alt="slide1" data-size="cover">

			<img class="kr-cloud" src="img/slides/corporate/seo.png"
				style="top:100px; left:-50px; width:950px;"
				data-transitionin="offsetx:-600;duration:1500;delay:500;easing:easeInOutExpo;"
				data-transitionout="offsetx:-500; duration:1200; delay:3500;">

			<h1 class="kr-cloud slide-title big alt-title light-color"
				style="top:230px; left:480px; width:50%;"
				data-transitionin="offsety:500;duration:1500;delay:1500;easing:easeOutQuart;"
				data-transitionout="offsety:-500; scaley:0.1; duration:1200; delay:3500;easing:easeInOutExpo;">
			Your Web Heroes!</h1>

			<p 	class="kr-cloud slide-sub-title light-color"
				style="top:320px; left:480px; width:50%;"
				data-transitionin="offsety:500;duration:1500;delay:2200;easing:easeInOutExpo;"
				data-transitionout="offsety:-500; scaley:0.1; duration:1200; delay:3500;easing:easeOutQuart;">
			Search Engine Optimization, Custom CRM solutions &amp; so much more. See how we can optimize your work flow..</p>

			<p 	class="kr-cloud slide-sub-title"
				style="top:400px; left:480px;"
				data-transitionin="offsety:500;duration:1500;delay:2800;easing:easeOutQuart;"
				data-transitionout="offsety:500; scaley:0.1; duration:1200; delay:3500;easing:easeInOutExpo;">
				<a href="mailto:sc@deepbluedev.co?subject=Custom Software Solutions&body=Hello, I am emailing to inquire for more information on a custom software solution. (Please fill out any information you would like below, but don't worry if you don't, we will work on your requirements more later.)" class="btn btn-primary btn-lg" title="Lets Start">Contact us Today!</a>
			</p>



		</div>
		<!-- slide3 END -->

	</div>
	<!-- portfolio slider END -->

	<!-- section START -->
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center">
					<div class="section-header">
						<small class="text-uppercase strong base-color">Deep Blue Development</small>
						<h1>Your Internet Development &amp; and Marketing Arm!</h1>
					</div>

					<!-- optional spacer classes "spacer-10" "spacer-20" "spacer-30" upto "spacer-80" -->
					<hr class="spacer-30">
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="icon-box style1">
						<i class="livicon" data-name="responsive" data-color="#f62459" data-hovercolor="false" data-size="48" data-onparent="true"></i>
						<h4 class="box-title strong">Mobile-First Development</h4>
						<p>Being responsive isn't an add on, at Deep Blue its a default. Google's updated search algorithm warrants new standards and Deep Blue wants your business to stand out.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="icon-box style1">
						<i class="livicon" data-name="star-full" data-color="#f62459" data-hovercolor="false" data-size="48" data-onparent="true"></i>
						<h4 class="box-title strong">Transparent Process</h4>
						<p>Don't you hate handing a sheet of requirements over to a project manager and not hear anything for 2 months. We keep you as hands on as you can be 100% of the time.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="icon-box style1">
						<i class="livicon" data-name="laptop" data-color="#f62459" data-hovercolor="false" data-size="48" data-onparent="true"></i>
						<h4 class="box-title strong">Powerful Business Solutions</h4>
						<p>Get the automation your business needs. See how a CRM, Custom Web Application or online solution can propel your efficiency to the next level. </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="icon-box style1">
						<i class="livicon" data-name="users-add" data-color="#f62459" data-hovercolor="false" data-size="48" data-onparent="true"></i>
						<h4 class="box-title strong">Impactful Marketing Solutions</h4>
						<p>Drive traffic to your website! At Deep Blue, we build your online presence and put the best form of your business in front of a targeted audience.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="icon-box style1">
						<i class="livicon" data-name="tablet" data-color="#f62459" data-hovercolor="false" data-size="48" data-onparent="true"></i>
						<h4 class="box-title strong">Dont Be Left behind</h4>
						<p>The majority of Web Traffic is now mobile, so be confident that your website is tailored to meet a potential customer no matter what device they may view your business on. </p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="icon-box style1">
						<i class="livicon" data-name="microphone" data-color="#f62459" data-hovercolor="false" data-size="48" data-onparent="true"></i>
						<h4 class="box-title strong">24/7 Live Help</h4>
						<p>Reach us anytime, day or night via LiveChat, Email, or Phone. Look for the Chat in the bottom right corner of the screen.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- section END -->

	<!-- section START -->
	<section class="section gray-bg half-section-right">
		<div class="section-bg bg6 hidden-xs">
			<a title="How we doing" class="nivo-lightbox play-btn cbutton cbutton--effect-ivana wow fadeIn" data-wow-delay="0.6s" href="https://youtu.be/N8ZBWUH_CVY"><i class="fa fa-play"></i></a>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="overlay">
						<h2>We have become a leader in our space</h2>
						<p class="lead alt-font">We provide results that make senses and don't break the bank to get you there. Deep Blue isn't your typical development firm; we operate on a transparent and client-oriented process. This means you get daily feedback, more input on your projects and as a result:  A happy customer.</p>
						<a href="https://docs.google.com/forms/d/1R0oOW-8kC7F2lAnystAOjJHWSgW-h-eXjIU6_1feo7o/viewform?usp=send_form" class="btn btn-success"><span>Become a Deep Blue Client</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- section END -->

	<section class="section gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-header alt-style wow fadeInDown" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
						<h1 class="strong">Featured Services</h1>
						<small class="text-uppercase strong base-color">What we do <br>defines who we are. </small>
					</div>

					<!-- optional spacer classes "spacer-10" "spacer-20" "spacer-30" upto "spacer-80" -->
					<hr class="spacer-20">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="icon-box style3">
						<i class="ion-compose"></i>
						<h4 class="box-title strong">Web Design</h4>
						<ul class="list alt-list">
							<li><i class="fa fa-angle-double-right"></i> <a href="/portfolio-dbd" title="service title">Wireframing</a></li>
							<li><i class="fa fa-angle-double-right"></i> <a href="/portfolio-dbd" title="service title">Branding and Identity
							<li><i class="fa fa-angle-double-right"></i> <a href="/portfolio-dbd" title="service title">Logo Creation
							<li><i class="fa fa-angle-double-right"></i> <a href="/portfolio-dbd" title="service title">PSD Web Temp
							<li><i class="fa fa-angle-double-right"></i> <a href="/portfolio-dbd" title="service title">PSD Marketing Materials</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="icon-box style3">
						<i class="ion-monitor"></i>
						<h4 class="box-title strong">Web Development</h4>
						<ul class="list alt-list">
							<li><i class="fa fa-angle-double-right"></i> <a href="/web-apps" title="service title">MVP Development</a></li>
							<li><i class="fa fa-angle-double-right"></i> <a href="/web-apps" title="service title">Technical Co-Founder
							<li><i class="fa fa-angle-double-right"></i> <a href="/web-apps" title="service title">Business
							<li><i class="fa fa-angle-double-right"></i> <a href="/web-apps" title="service title">Production
							<li><i class="fa fa-angle-double-right"></i> <a href="/web-apps" title="service title">Custom CMS</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="icon-box style3">
						<i class="ion-search"></i>
						<h4 class="box-title strong">Search Engine Optimization</h4>
						<ul class="list alt-list">
							<li><i class="fa fa-angle-double-right"></i> <a href="/seo" title="service title">Creative Logo Design</a></li>
							<li><i class="fa fa-angle-double-right"></i> <a href="/seo" title="service title">Corporate Identity Design</a></li>
							<li><i class="fa fa-angle-double-right"></i> <a href="/seo" title="service title">PSD Website Templates</a></li>
							<li><i class="fa fa-angle-double-right"></i> <a href="/seo" title="service title">Photo Editing</a></li>
							<li><i class="fa fa-angle-double-right"></i> <a href="/seo" title="service title">Banner Ads Design</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="icon-box style3">
						<i class="ion-map"></i>
						<h4 class="box-title strong">Our Process</h4>
						<ul class="list alt-list">
							<li><i class="fa fa-angle-double-right"></i> <a href="javascript:void(0);" title="service title">Discovery</a></li>
							<li><i class="fa fa-angle-double-right"></i> <a href="javascript:void(0);" title="service title">On-boarding</a></li>
							<li><i class="fa fa-angle-double-right"></i> <a href="javascript:void(0);" title="service title">Development</a></li>
							<li><i class="fa fa-angle-double-right"></i> <a href="javascript:void(0);" title="service title">Review</a></li>
							<li><i class="fa fa-angle-double-right"></i> <a href="javascript:void(0);" title="service title">Wrap-up</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- section START -->
<!-- 	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center">
					<div class="section-header">
						<small class="text-uppercase strong base-color">We Amplify <i>#Miamitech</i></small>
						<h1>Our Partners</h1>
					</div> -->

					<!-- optional spacer classes "spacer-10" "spacer-20" "spacer-30" upto "spacer-80" -->
		<!-- 			<hr class="spacer-30">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
 -->
					<!-- clients carousel START -->
			<!-- 		<div class="cbp cbp-l-grid-clients our-clients">
						<div class="cbp-item">
							<a href="javascript:void(0);" class="cbp-caption" target="_blank">
								<div class="cbp-caption-defaultWrap">
									<img src="img/clients/1.png" alt="Image title here">
								</div>
							</a>
						</div>
						<div class="cbp-item">
							<a href="javascript:void(0);" class="cbp-caption" target="_blank">
								<div class="cbp-caption-defaultWrap">
									<img src="img/clients/2.png" alt="Image title here">
								</div>
							</a>
						</div>
						<div class="cbp-item">
							<a href="javascript:void(0);" class="cbp-caption" target="_blank">
								<div class="cbp-caption-defaultWrap">
									<img src="img/clients/3.png" alt="Image title here">
								</div>
							</a>
						</div>
						<div class="cbp-item">
							<a href="javascript:void(0);" class="cbp-caption" target="_blank">
								<div class="cbp-caption-defaultWrap">
									<img src="img/clients/4.png" alt="Image title here">
								</div>
							</a>
						</div>
						<div class="cbp-item">
							<a href="javascript:void(0);" class="cbp-caption" target="_blank">
								<div class="cbp-caption-defaultWrap">
									<img src="img/clients/5.png" alt="Image title here">
								</div>
							</a>
						</div>
						<div class="cbp-item">
							<a href="javascript:void(0);" class="cbp-caption" target="_blank">
								<div class="cbp-caption-defaultWrap">
									<img src="img/clients/6.png" alt="Image title here">
								</div>
							</a>
						</div>
						<div class="cbp-item">
							<a href="javascript:void(0);" class="cbp-caption" target="_blank">
								<div class="cbp-caption-defaultWrap">
									<img src="img/clients/7.png" alt="Image title here">
								</div>
							</a>
						</div>
						<div class="cbp-item">
							<a href="javascript:void(0);" class="cbp-caption" target="_blank">
								<div class="cbp-caption-defaultWrap">
									<img src="img/clients/8.png" alt="Image title here">
								</div>
							</a>
						</div>
						<div class="cbp-item">
							<a href="javascript:void(0);" class="cbp-caption" target="_blank">
								<div class="cbp-caption-defaultWrap">
									<img src="img/clients/9.png" alt="Image title here">
								</div>
							</a>
						</div>
						<div class="cbp-item">
							<a href="javascript:void(0);" class="cbp-caption" target="_blank">
								<div class="cbp-caption-defaultWrap">
									<img src="img/clients/10.png" alt="Image title here">
								</div>
							</a>
						</div>
						<div class="cbp-item">
							<a href="javascript:void(0);" class="cbp-caption" target="_blank">
								<div class="cbp-caption-defaultWrap">
									<img src="img/clients/11.png" alt="Image title here">
								</div>
							</a>
						</div>
						<div class="cbp-item">
							<a href="javascript:void(0);" class="cbp-caption" target="_blank">
								<div class="cbp-caption-defaultWrap">
									<img src="img/clients/12.png" alt="Image title here">
								</div>
							</a>
						</div>
						<div class="cbp-item">
							<a href="javascript:void(0);" class="cbp-caption" target="_blank">
								<div class="cbp-caption-defaultWrap">
									<img src="img/clients/13.png" alt="Image title here">
								</div>
							</a>
						</div>
						<div class="cbp-item">
							<a href="javascript:void(0);" class="cbp-caption" target="_blank">
								<div class="cbp-caption-defaultWrap">
									<img src="img/clients/14.png" alt="Image title here">
								</div>
							</a>
						</div>
						<div class="cbp-item">
							<a href="javascript:void(0);" class="cbp-caption" target="_blank">
								<div class="cbp-caption-defaultWrap">
									<img src="img/clients/15.png" alt="Image title here">
								</div>
							</a>
						</div>
					</div> -->
					<!-- clients carousel END -->
<!--
				</div>
			</div>
		</div>
	</section> -->
	<!-- section END -->


	<!-- section START -->
	<section>
		<a type="button" class="info-box bg-danger text-center no-margin wow flipInX" data-wow-delay="0.5s" data-toggle="modal" data-target="#newsletter_modal" >
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1">
						<i class="livicon pull-right visible-lg" data-name="angle-double-right" data-color="#fff" data-hovercolor="false" data-size="36" data-onparent="true"></i>
						<p class="h2">Subscribe to our newsletter!</p>
					</div>
				</div>
			</div>
		</a>
	</section>
	<!-- section END -->

</div>
<!-- page content END -->



<!-- Modals -->
<!-- Modals -->
<!-- Modals -->
<!-- Modals -->
<!-- General Contact Modal -->
<div class="modal fade" id="gen_contact_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Get in Touch With us!</h4>
      </div>
      <div id="gen_contact_modal_body" class="modal-body">
        <iframe src="https://docs.google.com/forms/d/1R0oOW-8kC7F2lAnystAOjJHWSgW-h-eXjIU6_1feo7o/viewform?embedded=true#start=embed" width="100%" height="500px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- /Gen Contact Modal -->

<!-- Newsletter Modal -->
<div class="modal fade" id="newsletter_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Subscribe to our Newsletter</h4>
      </div>
      <div id="newsletter_modal_body" class="modal-body">
        <iframe src="https://docs.google.com/forms/d/1G6fUJEGfEEGBvTGLZcpQQ-BgZ9iGci6FCZ5FDia3jko/viewform?embedded=true#start=embed" width="100%" height="500px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- /Newsletter Modal -->




<!-- /Modals -->
<!-- /Modals -->
<!-- /Modals -->
<!-- /Modals -->
<!-- /Modals -->



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67120211-1', 'auto');
  ga('send', 'pageview');

</script>

<script type="text/javascript">
  window._pt_lt = new Date().getTime();
  window._pt_sp_2 = [];
  _pt_sp_2.push('setAccount,79680210');
  var _protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
  (function() {
    var atag = document.createElement('script'); atag.type = 'text/javascript'; atag.async = true;
    atag.src = _protocol + 'js.ptengine.com/pta.js';
    var stag = document.createElement('script'); stag.type = 'text/javascript'; stag.async = true;
    stag.src = _protocol + 'js.ptengine.com/pts.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(atag, s);s.parentNode.insertBefore(stag, s);
  })();
</script>

<script type='text/javascript' data-cfasync='false'>(function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '15ac40d4-262e-49da-b948-93b1cf882fed', f: true }); done = true; } }; })();</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
