

<!-- Sidebar Menu -->
<div class="sidebar-menu"> 
  
  <!-- Logo --> 
  <img src="img/logo.png" alt="Logo" class="logo" /> 
  
  <!-- Sidebar Menu Pages -->
  <ul>
    <li><a data-refid="home">Home</a></li>
    <li><a data-refid="about">About</a></li>
    <li><a data-refid="services">Services</a></li>
    <li><a data-refid="portfolio">Portfolio</a></li>
    <!-- <li><a data-refid="blog">Blog</a></li> -->
    <li><a data-refid="contact">Contact</a></li>
<!--     <li><a>More</a><i class="icon-angle-down"></i> 
       -->
      <!-- Sidebar SubMenu Pages -->
     <!--  <ul>
        <a href="/blog_posts">Blog</a>
        <li><a>Jobs</a></li>
        
      </ul> -->
      <a class="btn btn-primary" href="mailto:sc@deepbluedev.co">Contact us Directly</a>
    </li>
  </ul>
  <a class="close-sidebar-menu"><i class="icon-align-justify"></i></a>
  <div class="footer">
    <div class="social-links">
      <a href="https://www.linkedin.com/company/deep-blue-development?report%2Esuccess=KJ_KkFGTDCfMt-A7wV3Fn9Yvgwr02Kd6AZHGx4bQCDiP6-2rfP2oxyVoEQiPrcAQ7Bf"><i class="icon-linkedin"></i></a>
      <a href="https://twitter.com/deepbluedev"><i class="icon-twitter"></i></a>
      <a href="https://plus.google.com/b/104744400389583009455/104744400389583009455/posts"><i class="icon-google-plus"></i></a>
      <%= link_to 'Blog', blog_posts_path %>
      
    </div>
    <p>&copy; 2015 <span>Deep Blue Development</span></p>
  </div>
</div>

<!-- Home Section -->
<div id="home" class="section section-animate"> 
  
  <!-- Slider -->
  <div id="slides">
    <ul class="slides-container">
      
      <!-- Slider Single Item -->
      <li><a href="#"><img src="pics/slide1.jpg" alt="Photo" /></a>
        <div class="slides-detail"><i class="icon-star"></i>
          <h1>Deep Blue <span>Development</span></h1>
          <span class="lead">Creative <strong>Solutions </strong>for all of your development needs.</span> <a href="#" class="btn btn-large btn-goto" data-refid="contact">Learn a little more <br> about us</a></div>
      </li>
      
      <!-- Slider Single Item -->
      <li><a href="#"><img src="pics/slide2.jpeg" alt="Photo" /></a>
        <div class="slides-detail"><i class="icon-heart"></i>
          <h1>Modern<span> Design</span></h1>
          <span class="lead">Be ahead of the pack, and<strong> Stand-out</strong> with Beautiful Responsive Design</span> <a href="#" class="btn btn-large btn-goto" data-refid="portfolio">View Portfolio</a></div>
      </li>
      
      <!-- Slider Single Item -->
      <li><a href="#"><img src="pics/slide3.jpeg" alt="Photo" /></a>
        <div class="slides-detail"><i class="icon-thumbs-up"></i>
          <h1>Have A <span>Question?</span></h1>
          <span class="lead">We love to help, <strong>give us a call</strong></span> <a href="#" class="btn btn-large btn-goto" data-refid="services">Connect With us</a></div>
      </li>
    </ul>
    
    <!-- Slider Navigation -->
    <div class="slides-navigation"><a href="#" class="prev"><i class="icon-angle-left"></i></a> <a href="#" class="next"><i class="icon-angle-right"></i></a></div>
  </div>
</div>

<!-- About Section -->
<div id="about" class="section">
  <div class="container">
    <div class="row">
      <div class="span12"> 
        
        <!-- About profiles -->
        <h1 class="margin-top">About <span>Us</span></h1>
        <span class="lead margin-bottom">A dynamic team<span> driven by passion</span> to create achieveable web presences for all businesses.<br />
        We enjoy more than just development though,<span> check us out below.</span></span>
        <ul class="thumbnails">
          
          <!-- About single profile -->
          <li class="span4">
            <div class="thumbnail">
              <h3>Sean <span>Cosentino</span></h3>
              <img src="pics/seanc.jpeg" alt="Pic" class="thumb img-circle" />
              <div class="thumbnail-detail">
                <h5 class="half-margin-bottom">Technical Founder</h5>
                <p><strong></strong></p>
              </div>
              <div class="social-links">
                <a href="http://www.linkedin.com/in/seanjcosentino"><i class="icon-linkedin"></i></a>
                <a href="https://plus.google.com/u/1/116469391584911414421/posts"><i class="icon-google-plus"></i></a>
              </div>
            </div>
          </li>
          
          <!-- About single profile -->
          <li class="span4">
            <div class="thumbnail">
              <h3>Frank <span>Escalona</span></h3>
              <img src="pics/frank.png" alt="Pic" class="thumb img-circle" />
              <div class="thumbnail-detail">
                <h5 class="half-margin-bottom">Sales Director</h5>
                <p><strong></strong></p>
              </div>
              <div class="social-links">
                <a href="#"><i class="icon-linkedin"></i></a>
                <a href="#"><i class="icon-google-plus"></i></a>
              </div>
            </div>
          </li>
          
          <!-- About single profile -->
          <li class="span4">
            <div class="thumbnail">
              <h3>Hayden <span>Holliman</span></h3>
              <img src="pics/man2.jpg" alt="Pic" class="thumb img-circle" />
              <div class="thumbnail-detail">
                <h5 class="half-margin-bottom">Creative Director</h5>
                <p><strong></strong></p>
              </div>
              <div class="social-links">
                <a href="#"><i class="icon-linkedin"></i></a>
                <a href="#"><i class="icon-google-plus"></i></a>
              </div>
            </div>
          </li>
          
          <!-- About single profile -->
          <!-- <li class="span3">
            <div class="thumbnail">
              <h3>John <span>Smiths</span></h3>
              <img src="pics/woman2.jpg" alt="Pic" class="thumb img-circle" />
              <div class="thumbnail-detail">
                <h5 class="half-margin-bottom">Blogger</h5>
                <p>Sed augue lorem, <strong>dignissim eget</strong> bibendum vitae, scelerisque eget justo scelerisque</p>
              </div>
              <div class="social-links"><a href="#"><i class="icon-facebook"></i></a><a href="#"><i class="icon-twitter"></i></a><a href="#"><i class="icon-google-plus"></i></a><a href="#"><i class="icon-pinterest"></i></a></div>
            </div>
          </li> -->
        </ul>
        <hr />
        
        <!-- About skills -->
        <h3>Our <span>Skills</span></h3>
        <span class="lead margin-bottom">We're well versed in <span>the languages of the web.</span> So you don't have to be.<br />
        When you sign on with us <span>rest assured</span> you're web presence is in the best hands.</span>
        <div class="row"> 
          
          <!-- About progress bar -->
          <div class="span3">
            <h5 class="progress-text">Dynamic Web Application Dev <span><!-- 75% --></span></h5>
            <div class="progress margin-bottom">
              <div class="bar" style="width: 100%"></div>
            </div>
          </div>
          
          <!-- About progress bar -->
          <div class="span3">
            <h5 class="progress-text">Search Engine Optimization<span><!-- 80% --></span></h5>
            <div class="progress margin-bottom">
              <div class="bar" style="width: 100%"></div>
            </div>
          </div>
          
          <!-- About progress bar -->
          <div class="span3">
            <h5 class="progress-text">Maintenance and Debugging<span><!-- 85% --></span></h5>
            <div class="progress margin-bottom">
              <div class="bar" style="width: 100%"></div>
            </div>
          </div>
          
          <!-- About progress bar -->
          <div class="span3">
            <h5 class="progress-text">Modern Design + Branding<span><!-- 100% --></span></h5>
            <div class="progress margin-bottom">
              <div class="bar" style="width: 100%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Services Section -->
<div id="services" class="section">
  <div class="container">
    <div class="row">
      <div class="span12"> 
        
        <!-- Services profiles -->
        <h1 class="margin-top">Our <span>Services</span></h1>
        <span class="lead margin-bottom">We make <span>Solutions.</span>Whether you're an individual, a start-up or a large corportation we have the resources to tackle any problem.<br />
        We are <span>Agile and Lean.</span>That means we move forward through validated learning and in organized sprints.</span>
        <ul class="thumbnails">
          
          <!-- Service detail -->
          <li class="span3">
            <div class="thumbnail thumbnail-services"><i class="icon-bullhorn"></i>
              <h3><span>Proto-type</span></h3>
              <h5 class="half-margin-bottom">Development</h5>
              <p>Create your<strong> Idea</strong> and retain all the rights to it. We take no ownership, equity, or rights to your idea in any way.</p>
              
            </div>
          </li>
          
          <!-- Service detail -->
          <li class="span3">
            <div class="thumbnail thumbnail-services"><i class="icon-laptop"></i>
              <h3><span>Consulting</span> </h3>
              <h5 class="half-margin-bottom">Custom Solutions</h5>
              <p>We strive to educate <strong>our Clients.</strong> We've learned this helps all parties involved. An informed consumer is a smart one.</p>
              
            </div>
          </li>
          
          <!-- Service detail -->
          <li class="span3">
            <div class="thumbnail thumbnail-services"><i class="icon-camera"></i>
              <h3><span>Design</span> </h3>
              <h5 class="half-margin-bottom">Wireframing</h5>
              <p>Without writing a line of <strong> Code,</strong> see your Idea come to life. We can then create your application of Website.</p>
              
            </div>
          </li>
          
          <!-- Service detail -->
          <li class="span3">
            <div class="thumbnail thumbnail-services"><i class="icon-globe"></i>
              <h3><span>Search</span> Engine</h3>
              <h5 class="half-margin-bottom">Optimization</h5>
              <p>In 2015 putting your site in front of <strong>internet traffic</strong> is as important as your physical encounters with your customers.</p>
              
            </div>
          </li>
        </ul>
        <hr />
        
        <!-- About skills -->
        <h3>Why <span>Choose Us</span></h3>
        <span class="lead margin-bottom"><span>We get it!</span><br />
        Choosing developers can be a <span>scary task.</span> With us you get a proven track record of Timely, efficient, and Beautiful results.</span>
        <div class="row">
          <div class="span12"> 
            
            <!-- Small banner -->
           <!--  <div class="hero-unit text-center no-margin">
              <h1>efficiency and reliability</h1>
              <span class="lead">Its that simple</span><br />
              <a class="btn btn-primary btn-large no-margin">Ask your Question</a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Section -->
<div id="portfolio" class="section">
  <div class="container">
    <div class="row">
      <div class="span12"> 
        
        <!-- Portfolio -->
        <h1 class="margin-top">Our <span>Portfolio</span></h1>
        <span class="lead margin-bottom"><span>Check back here frequently</span><br />
        <span></span></span> 
        
        <!-- Filter -->
        <div id="filters" class="row products-filter">
          <p>
            <a href="#" data-filter="*" class="active">All</a> 
            <a href="#" data-filter=".webdesign">WebApp</a> 
            <a href="#" data-filter=".illustration">Website</a> 
            <a href="#" data-filter=".abstract">Mobile Applications</a>
          </p>
        </div>
        
        <!-- Portfolio Masonry -->
        <div id="isotope"> 
          
          <!-- Folio 1 Single item -->
          <div class="item illustration">
            <div class="thumb-hover">
              <img src="pics/folio-1.jpg" alt="Portfolio" /> 
              
              <!-- Button to Fancybox --> 
              <a href="pics/folio-1.jpg" class="view-fancybox" rel="tag"><i class="icon-camera"></i></a> 
              
            </div>

            <div class="masonry-detail">
              <h4>Juice House <span>Key Largo, Fl</span></h4>
              <em class="date"></em></div>
          </div>
          
          <!-- Folio 2 Single item -->
          <div class="item webdesign">
            <div class="thumb-hover"><img src="pics/folio-2.jpg" alt="Portfolio" /> 
              
              <!-- Button to Fancybox --> 
              <a href="pics/folio-2.jpg" class="view-fancybox" rel="tag"><i class="icon-camera"></i></a> 
              
             
            </div>
            <div class="masonry-detail">
              <h4>Outnix <span></span></h4>
              <em class="date">Miami, Fl</em></div>
          </div>
          
          <!-- Folio 3 Single item -->
          <div class="item abstract">
            <div class="thumb-hover"><img src="pics/folio-8.jpg" alt="Portfolio" /> 
              
              <!-- Button to Fancybox --> 
              <a href="pics/folio-8.jpg" class="view-fancybox" rel="tag"><i class="icon-camera"></i></a> 
              
            
            </div>
            <div class="masonry-detail">
              <h4>Mobile <span>Application</span></h4>
              <em class="date">Miami, Fl</em></div>
          </div>
          
          <!-- Folio 5 Single item -->
          <div class="item illustration">
            <div class="thumb-hover"><img src="pics/folio-3.jpg" alt="Portfolio" /> 
              
              <!-- Button to Fancybox --> 
              <a href="pics/folio-3.jpg" class="view-fancybox" rel="tag"><i class="icon-camera"></i></a> 
              
       
            </div>
            <div class="masonry-detail">
              <h4>Poseidon <span></span></h4>
              <em class="date">Islamorada, Fl</em></div>
          </div>
        </div>
        


<!-- Keeping for the written Content -->
        <!-- <div id="jhouse" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="folio1" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3><span>Juice House</span></h3>
          </div>
          <div class="modal-body"><img src="pics/folio-1.jpg" alt="Portfolio" /> <em class="date"><a href="http://juicehouse.herokuapp.com">Live</a></em><span class="lead margin-bottom">Develop A friendly landing Page for Display of menus, and associated information.<br />
           <span></span><strong></strong></span>
            <p>
              
            </p>
          </div>
        </div>

        <div id="folio2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="folio2" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Outnix <span></span></h3>
          </div>
          <div class="modal-body"><img src="pics/folio-2.jpg" alt="Portfolio" /> <em class="date"><a href="http://www.outnix.com">Live</a></em><span class="lead margin-bottom">Outnix is a platform for users to find the game they want to see at the bars and restaurants around them.<br />
            Housed on a Postgres Database. <span>Outnix's beta software</span> was built lean using cloud based servers. <strong>Google maps api,</strong> CeoCoding, Sportsradar Api, and custom authentication are among a few featues. Ask us for more information.</span>
            
          </div>
        </div>
        

        <div id="folio3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="folio3" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Outnix <span></span></h3>
          </div>
          <div class="modal-body"><img src="pics/folio-8.jpg" alt="Portfolio" /> <em class="date"><a href="http://www.outnix.com">Live</a></em><span class="lead margin-bottom">Outnix is a platform for users to find the game they want to see at the bars and restaurants around them.<br />
            Wireframed and designs of Companies <span>mobile application.</span><strong></strong></span>
            
          </div>
        </div>
        
      
        

        <div id="folio5" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="folio5" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Poseidon <span>Towing and Salvage</span></h3>
          </div>
          <div class="modal-body"><img src="pics/folio-3.jpg" alt="Portfolio" /> <em class="date"><a href="http://salvagemaster.herokuapp.com">Live</a></em><span class="lead margin-bottom">A friendly landing page with relevant information and traffic funneling into subscriptions.<br />
            <span></span><strong></strong></span>
            
          </div>
        </div> -->
        
      </div>
    </div>
  </div>
</div>

<!-- Blog Section -->
<!-- <div id="blog" class="section">
  <div class="container">
    <div class="row">
      <div class="span12"> --> 
        
        <!-- Blog -->
        <!-- <h1 class="margin-top">blog <span>Top Stories</span></h1>
        <span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span> adipiscing elit.<br />
        Sed diam <span>nonummy nibh</span> euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span>  -->
        
        <!-- Filter -->
        <!-- <div class="row blog-filter">
          <p><span>Categories</span> <a href="#" class="active">All</a> <a href="#">Web Design</a> <a href="#">Illustration</a> <a href="#">Abstract</a></p>
          <form action="blog-filter">
            <fieldset>
              <legend>Archives</legend>
              <select>
                <option>June 2013</option>
                <option>May 2013</option>
                <option>April 2013</option>
              </select>
            </fieldset>
          </form>
        </div> -->
        
        <!-- Blog List 4 Columns -->
      <!--   <ul class="thumbnails">
           -->
          <!-- Blog Single Box -->
         <!--  <li class="span3">
            <div class="thumbnail thumbnail-blog">
              <h3>Single Post <span>Title</span></h3>
              <div class="thumb-hover"><img src="pics/folio-1.jpg" alt="Pic" /><a href="pics/folio-1.jpg" class="view-fancybox" rel="tag"><i class="icon-camera"></i></a></div>
              <div class="blog-detail"><em class="date">June 05, 2013</em>
                <p>Sed augue lorem, <strong>dignissim eget</strong> bibendum vitae, scelerisque eget justo scelerisque</p>
                 -->
                <!-- Button to trigger modal --> 
             <!--    <a href="#blog1" role="button" class="btn" data-toggle="modal">Read more</a></div>
            </div> -->
            
            <!-- Blog Post Modal -->
         <!--    <div id="blog1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="blog1" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Single Post <span>Title</span></h3>
              </div>
              <div class="modal-body"><img src="pics/folio-1.jpg" alt="Pic" /> <em class="date">June 05, 2013</em><span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span> adipiscing elit.<br />
                Sed diam <span>nonummy nibh</span> euismod tincidunt ut laoreet <strong>dolore</strong>.</span>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea <a href="#">commodo consequat</a>. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
              </div>
            </div>
          </li> -->
          
          <!-- Blog Single Box -->
      <!--     <li class="span3">
            <div class="thumbnail thumbnail-blog">
              <h3>Other Post <span>Here</span></h3>
              <div class="thumb-hover"><img src="pics/folio-2.jpg" alt="Pic" /><a href="pics/folio-2.jpg" class="view-fancybox" rel="tag"><i class="icon-camera"></i></a></div>
              <div class="blog-detail"><em class="date">June 05, 2013</em>
                <p>Sed augue lorem, <strong>dignissim eget</strong> bibendum vitae, scelerisque eget justo scelerisque</p>
                 -->
                <!-- Button to trigger modal --> 
              <!--   <a href="#blog2" role="button" class="btn" data-toggle="modal">Read more</a></div>
            </div>
             -->
            <!-- Blog Post Modal -->
       <!--      <div id="blog2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="blog2" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Single Post <span>Title</span></h3>
              </div>
              <div class="modal-body"> <img src="pics/folio-2.jpg" alt="Pic" /> <em class="date">June 05, 2013</em><span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span> adipiscing elit.<br />
                Sed diam <span>nonummy nibh</span> euismod tincidunt ut laoreet <strong>dolore magna</strong> aliquam erat volutpat.</span>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea <a href="#">commodo consequat</a>. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
              </div>
            </div>
          </li> -->
          
          <!-- Blog Single Box -->
       <!--    <li class="span3">
            <div class="thumbnail thumbnail-blog">
              <h3>Title goes <span>Here</span></h3>
              <div class="thumb-hover"><img src="pics/folio-3.jpg" alt="Pic" /><a href="pics/folio-3.jpg" class="view-fancybox" rel="tag"><i class="icon-camera"></i></a></div>
              <div class="blog-detail"><em class="date">June 05, 2013</em>
                <p>Sed augue lorem, <strong>dignissim eget</strong> bibendum vitae, scelerisque eget justo scelerisque</p>
                 -->
                <!-- Button to trigger modal --> 
               <!--  <a href="#blog3" role="button" class="btn" data-toggle="modal">Read more</a></div>
            </div> -->
            
            <!-- Blog Post Modal -->
            <!-- <div id="blog3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="blog3" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Single Post <span>Title</span></h3>
              </div>
              <div class="modal-body"> <img src="pics/folio-3.jpg" alt="Pic" /> <em class="date">June 05, 2013</em><span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span> adipiscing elit.<br />
                Sed diam <span>nonummy nibh</span> euismod tincidunt ut laoreet <strong>dolore magna</strong> aliquam erat volutpat.</span>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea <a href="#">commodo consequat</a>. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
              </div>
            </div>
          </li> -->
          
          <!-- Blog Single Box -->
      <!--     <li class="span3">
            <div class="thumbnail thumbnail-blog">
              <h3>This is your <span>Title</span></h3>
              <div class="thumb-hover"><img src="pics/folio-4.jpg" alt="Pic" /><a href="pics/folio-4.jpg" class="view-fancybox" rel="tag"><i class="icon-camera"></i></a></div>
              <div class="blog-detail"><em class="date">June 05, 2013</em>
                <p>Sed augue lorem, <strong>dignissim eget</strong> bibendum vitae, scelerisque eget justo scelerisque</p>
                 -->
                <!-- Button to trigger modal --> 
               <!--  <a href="#blog4" role="button" class="btn" data-toggle="modal">Read more</a></div>
            </div> -->
            
            <!-- Blog Post Modal -->
           <!--  <div id="blog4" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="blog4" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Single Post <span>Title</span></h3>
              </div>
              <div class="modal-body"> <img src="pics/folio-4.jpg" alt="Pic" /> <em class="date">June 05, 2013</em><span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span> adipiscing elit.<br />
                Sed diam <span>nonummy nibh</span> euismod tincidunt ut laoreet <strong>dolore magna</strong> aliquam erat volutpat.</span>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea <a href="#">commodo consequat</a>. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
              </div>
            </div>
          </li>
        </ul>
        <hr />
        <h3>Blog <span>3 Columns</span></h3>
        <span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span> adipiscing elit.<br />
        Sed diam <span>nonummy nibh</span> euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span> 
         -->
        <!-- Blog List 3 Columns -->
       <!--  <ul class="thumbnails">
           -->
          <!-- Blog Single Box -->
       <!--    <li class="span4">
            <div class="thumbnail thumbnail-blog">
              <h3>Single Post <span>Title</span></h3>
              <div class="thumb-hover"><img src="pics/folio-1.jpg" alt="Pic" /><a href="pics/folio-1.jpg" class="view-fancybox" rel="tag"><i class="icon-camera"></i></a></div>
              <div class="blog-detail"><em class="date">June 05, 2013</em>
                <p>Sed augue lorem, <strong>dignissim eget</strong> bibendum vitae, scelerisque eget justo scelerisque</p>
                 -->
                <!-- Button to trigger modal --> 
             <!--    <a href="#blog1" role="button" class="btn" data-toggle="modal">Read more</a></div>
            </div> -->
            
            <!-- Blog Post Modal -->
     <!--        <div id="blog5" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="blog5" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Single Post <span>Title</span></h3>
              </div>
              <div class="modal-body"><img src="pics/folio-1.jpg" alt="Pic" /> <em class="date">June 05, 2013</em><span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span> adipiscing elit.<br />
                Sed diam <span>nonummy nibh</span> euismod tincidunt ut laoreet <strong>dolore</strong>.</span>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea <a href="#">commodo consequat</a>. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
              </div>
            </div>
          </li>
           -->
          <!-- Blog Single Box -->
         <!--  <li class="span4">
            <div class="thumbnail thumbnail-blog">
              <h3>Ally <span>Holland</span></h3>
              <div class="thumb-hover"><img src="pics/folio-2.jpg" alt="Pic" /><a href="pics/folio-2.jpg" class="view-fancybox" rel="tag"><i class="icon-camera"></i></a></div>
              <div class="blog-detail"><em class="date">June 05, 2013</em>
                <p>Sed augue lorem, <strong>dignissim eget</strong> bibendum vitae, scelerisque eget justo scelerisque</p>
                 -->
                <!-- Button to trigger modal --> 
              <!--   <a href="#blog2" role="button" class="btn" data-toggle="modal">Read more</a></div>
            </div>
             -->
            <!-- Blog Post Modal -->
           <!--  <div id="blog6" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="blog6" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Single Post <span>Title</span></h3>
              </div>
              <div class="modal-body"> <img src="pics/folio-2.jpg" alt="Pic" /> <em class="date">June 05, 2013</em><span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span> adipiscing elit.<br />
                Sed diam <span>nonummy nibh</span> euismod tincidunt ut laoreet <strong>dolore magna</strong> aliquam erat volutpat.</span>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea <a href="#">commodo consequat</a>. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
              </div>
            </div>
          </li> -->
          
          <!-- Blog Single Box -->
   <!--        <li class="span4">
            <div class="thumbnail thumbnail-blog">
              <h3>Susan <span>Meattr</span></h3>
              <div class="thumb-hover"><img src="pics/folio-3.jpg" alt="Pic" /><a href="pics/folio-3.jpg" class="view-fancybox" rel="tag"><i class="icon-camera"></i></a></div>
              <div class="blog-detail"><em class="date">June 05, 2013</em>
                <p>Sed augue lorem, <strong>dignissim eget</strong> bibendum vitae, scelerisque eget justo scelerisque</p>
                 -->
                <!-- Button to trigger modal --> 
             <!--    <a href="#blog3" role="button" class="btn" data-toggle="modal">Read more</a></div>
            </div> -->
            
            <!-- Blog Post Modal -->
        <!--     <div id="blog7" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="blog7" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Single Post <span>Title</span></h3>
              </div>
              <div class="modal-body"> <img src="pics/folio-3.jpg" alt="Pic" /> <em class="date">June 05, 2013</em><span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span> adipiscing elit.<br />
                Sed diam <span>nonummy nibh</span> euismod tincidunt ut laoreet <strong>dolore magna</strong> aliquam erat volutpat.</span>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea <a href="#">commodo consequat</a>. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
 -->
<!-- Contact Section -->
<div id="contact" class="section">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1 class="margin-top">Contact <span>Us</span></h1>
        <span class="lead margin-bottom"><span></span><br />
        <span></span></span>
      </div>
    </div>
  </div>
  
  <!-- Contact Map -->
  <div id="map-canvas"></div>

  <!-- <div class="container">
    <div class="row">  -->
      
      <!-- Contact Address -->
      <div class="col-lg-12">
        <h3 class="half-margin-bottom">Our <span>Headquarter</span></h3>
        <span class="lead margin-bottom">Located right in the <span>heart of Miami.</span><br /><span></span></span>
        <address>
        <strong>Deep Blue Development, Inc.</strong><br>
        400 Nw 26th St<br>
        Miami, Fl 33126<br>
        P: (305) 744 4804
        </address>
        <!-- <address>
        <strong>Full Name</strong><br>
        <a href="#">first.last@example.com</a>
        </address> -->
      </div>
      
      <!-- Contact Form -->
      <!-- <div class="span6">
        <h3 class="half-margin-bottom">Email <span>us</span></h3>
        <span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span><br />
        Sed diam <span>nonummy nibh</span> euismod tincidunt.</span>
        <form action="contact" class="contact-form">
          <fieldset>
            <legend>Contact us</legend>
            <input type="text" placeholder="Name" class="span6">
            <input type="text" placeholder="Mail" class="span6">
            <textarea rows="3" placeholder="Message" class="span12"></textarea>
            <button type="submit" class="btn btn-large">Send Message</button>
          </fieldset>
        </form>
      </div> -->
   <!--  </div>
  </div> -->
</div>
<!-- Scripts --> 
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67120211-1', 'auto');
  ga('send', 'pageview');

</script>