<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>Diverso - Bootstrap Responsive Sliding Pages</title>

<!-- Stylesheet -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css" />
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/superslides.css" />
<link rel="stylesheet" type="text/css" href="css/masonry.css" />
<link rel="stylesheet" type="text/css" href="css/fancybox.css" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,700" />

<!-- Stylesheet Custom Background -->
<link rel="stylesheet" type="text/css" href="css/bg/gray.css" id="swap-bg" />

<!-- Stylesheet Custom Color -->
<link rel="stylesheet" type="text/css" href="css/color/yellow.css" id="swap-color" />
</head>
<body>

<!-- Sidebar Settings -->
<div class="sidebar-menu-settings">
  <h6>Background</h6>
  <p class="bg-settings"><a class="bg-nobg" data-bg="nobg"><span>No background</span></a> <a class="bg-white" data-bg="white"><span>white</span></a> <a class="bg-gray" data-bg="gray"><span>gray</span></a> <a class="bg-dark" data-bg="dark"><span>dark</span></a> <a class="bg-darker" data-bg="darker"><span>darker</span></a> <a class="bg-bar" data-bg="bar"><span>bar</span></a> <a class="bg-square" data-bg="square"><span>square</span></a> <a class="bg-diag" data-bg="diag"><span>diag</span></a> <a class="bg-sand" data-bg="sand"><span>sand</span></a> <a class="bg-parquet" data-bg="parquet"><span>parquet</span></a> <a class="color-blue" data-bg="blue"><span>blue</span></a> <a class="color-cyan" data-bg="cyan"><span>cyan</span></a> <a class="color-aqua" data-bg="aqua"><span>aqua</span></a> <a class="color-green" data-bg="green"><span>green</span></a> <a class="color-acid" data-bg="acid"><span>acid</span></a> <a class="color-yellow" data-bg="yellow"><span>yellow</span></a> <a class="color-orange" data-bg="orange"><span>orange</span></a> <a class="color-red" data-bg="red"><span>red</span></a> <a class="color-violet" data-bg="violet"><span>violet</span></a> <a class="color-black" data-bg="black"><span>black</span></a></p>
  <div class="clearfix"></div>
  <h6>Color</h6>
  <p class="color-settings"><a class="color-blue" data-color="blue"><span>blue</span></a> <a class="color-cyan" data-color="cyan"><span>cyan</span></a> <a class="color-aqua" data-color="aqua"><span>aqua</span></a> <a class="color-green" data-color="green"><span>green</span></a> <a class="color-acid" data-color="acid"><span>acid</span></a> <a class="color-yellow" data-color="yellow"><span>yellow</span></a> <a class="color-orange" data-color="orange"><span>orange</span></a> <a class="color-red" data-color="red"><span>red</span></a> <a class="color-violet" data-color="violet"><span>violet</span></a> <a class="color-black" data-color="black"><span>black</span></a></p>
  <div class="clearfix"></div>
  <a class="close-sidebar-menu-settings"><i class="icon-cog"></i></a></div>

<!-- Sidebar Menu -->
<div class="sidebar-menu"> 
  
  <!-- Logo --> 
  <img src="img/logo.png" alt="Logo" class="logo" /> 
  
  <!-- Sidebar Menu Pages -->
  <ul>
    <li><a data-refid="home">Home</a></li>
    <li><a data-refid="about">About</a></li>
    <li><a data-refid="services">Services</a></li>
    <li><a data-refid="portfolio">Portfolio</a></li>
    <li><a data-refid="blog">Blog</a></li>
    <li><a data-refid="contact">Contact</a></li>
    <li><a>SubMenu</a><i class="icon-angle-down"></i> 
      
      <!-- Sidebar SubMenu Pages -->
      <ul>
        <li><a>SubMenu Item 1</a></li>
        <li><a>SubMenu Item 2</a></li>
        <li><a>SubMenu Item 3</a></li>
      </ul>
    </li>
  </ul>
  <a class="close-sidebar-menu"><i class="icon-align-justify"></i></a>
  <div class="footer">
    <div class="social-links"><a href="#"><i class="icon-facebook"></i></a><a href="#"><i class="icon-twitter"></i></a><a href="#"><i class="icon-google-plus"></i></a><a href="#"><i class="icon-pinterest"></i></a></div>
    <p>&copy; 2013 <span>Diverso</span></p>
  </div>
</div>

<!-- Home Section -->
<div id="home" class="section section-animate"> 
  
  <!-- Slider -->
  <div id="slides">
    <ul class="slides-container">
      
      <!-- Slider Single Item -->
      <li><a href="#"><img src="pics/slide1.jpg" alt="Photo" /></a>
        <div class="slides-detail"><i class="icon-star"></i>
          <h1>Main title <span>goes here</span></h1>
          <span class="lead">Cras justo odio, dapibus ac <strong>facilisis in</strong>, egestas eget quam.</span> <a href="#" class="btn btn-large btn-goto" data-refid="contact">View Contact</a></div>
      </li>
      
      <!-- Slider Single Item -->
      <li><a href="#"><img src="pics/slide2.jpg" alt="Photo" /></a>
        <div class="slides-detail"><i class="icon-heart"></i>
          <h1>Another title <span>here</span></h1>
          <span class="lead">Cras justo odio, dapibus ac <strong>facilisis in</strong>, egestas eget quam.</span> <a href="#" class="btn btn-large btn-goto" data-refid="portfolio">View Portfolio</a></div>
      </li>
      
      <!-- Slider Single Item -->
      <li><a href="#"><img src="pics/slide3.jpg" alt="Photo" /></a>
        <div class="slides-detail"><i class="icon-thumbs-up"></i>
          <h1>This is the third <span>title</span></h1>
          <span class="lead">Cras justo odio, dapibus ac <strong>facilisis in</strong>, egestas eget quam.</span> <a href="#" class="btn btn-large btn-goto" data-refid="services">View Services</a></div>
      </li>
    </ul>
    
    <!-- Slider Navigation -->
    <div class="slides-navigation"><a href="#" class="prev"><i class="icon-angle-left"></i></a> <a href="#" class="next"><i class="icon-angle-right"></i></a></div>
  </div>
</div>

<!-- About Section -->
<div id="about" class="section">
  <div class="container">
    <div class="row">
      <div class="span12"> 
        
        <!-- About profiles -->
        <h1 class="margin-top">About <span>Us</span></h1>
        <span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span> adipiscing elit.<br />
        Sed diam <span>nonummy nibh</span> euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span>
        <ul class="thumbnails">
          
          <!-- About single profile -->
          <li class="span3">
            <div class="thumbnail">
              <h3>Patrick <span>Smith</span></h3>
              <img src="pics/man1.jpg" alt="Pic" class="thumb img-circle" />
              <div class="thumbnail-detail">
                <h5 class="half-margin-bottom">Founder / CEO</h5>
                <p>Sed augue lorem, <strong>dignissim eget</strong> bibendum vitae, scelerisque eget justo scelerisque</p>
              </div>
              <div class="social-links"><a href="#"><i class="icon-facebook"></i></a><a href="#"><i class="icon-twitter"></i></a><a href="#"><i class="icon-google-plus"></i></a><a href="#"><i class="icon-pinterest"></i></a></div>
            </div>
          </li>
          
          <!-- About single profile -->
          <li class="span3">
            <div class="thumbnail">
              <h3>Ally <span>Holland</span></h3>
              <img src="pics/woman1.jpg" alt="Pic" class="thumb img-circle" />
              <div class="thumbnail-detail">
                <h5 class="half-margin-bottom">Developer</h5>
                <p>Sed augue lorem, <strong>dignissim eget</strong> bibendum vitae, scelerisque eget justo scelerisque</p>
              </div>
              <div class="social-links"><a href="#"><i class="icon-facebook"></i></a><a href="#"><i class="icon-twitter"></i></a><a href="#"><i class="icon-google-plus"></i></a><a href="#"><i class="icon-pinterest"></i></a></div>
            </div>
          </li>
          
          <!-- About single profile -->
          <li class="span3">
            <div class="thumbnail">
              <h3>Susan <span>Meattr</span></h3>
              <img src="pics/man2.jpg" alt="Pic" class="thumb img-circle" />
              <div class="thumbnail-detail">
                <h5 class="half-margin-bottom">Web Designer</h5>
                <p>Sed augue lorem, <strong>dignissim eget</strong> bibendum vitae, scelerisque eget justo scelerisque</p>
              </div>
              <div class="social-links"><a href="#"><i class="icon-facebook"></i></a><a href="#"><i class="icon-twitter"></i></a><a href="#"><i class="icon-google-plus"></i></a><a href="#"><i class="icon-pinterest"></i></a></div>
            </div>
          </li>
          
          <!-- About single profile -->
          <li class="span3">
            <div class="thumbnail">
              <h3>John <span>Smiths</span></h3>
              <img src="pics/woman2.jpg" alt="Pic" class="thumb img-circle" />
              <div class="thumbnail-detail">
                <h5 class="half-margin-bottom">Blogger</h5>
                <p>Sed augue lorem, <strong>dignissim eget</strong> bibendum vitae, scelerisque eget justo scelerisque</p>
              </div>
              <div class="social-links"><a href="#"><i class="icon-facebook"></i></a><a href="#"><i class="icon-twitter"></i></a><a href="#"><i class="icon-google-plus"></i></a><a href="#"><i class="icon-pinterest"></i></a></div>
            </div>
          </li>
        </ul>
        <hr />
        
        <!-- About skills -->
        <h3>Our <span>Skills</span></h3>
        <span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span> adipiscing elit.<br />
        Sed diam <span>nonummy nibh</span> euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span>
        <div class="row"> 
          
          <!-- About progress bar -->
          <div class="span3">
            <h5 class="progress-text">HTML <span>75%</span></h5>
            <div class="progress margin-bottom">
              <div class="bar" style="width: 75%"></div>
            </div>
          </div>
          
          <!-- About progress bar -->
          <div class="span3">
            <h5 class="progress-text">CSS <span>80%</span></h5>
            <div class="progress margin-bottom">
              <div class="bar" style="width: 80%"></div>
            </div>
          </div>
          
          <!-- About progress bar -->
          <div class="span3">
            <h5 class="progress-text">JS <span>85%</span></h5>
            <div class="progress margin-bottom">
              <div class="bar" style="width: 85%"></div>
            </div>
          </div>
          
          <!-- About progress bar -->
          <div class="span3">
            <h5 class="progress-text">Design <span>100%</span></h5>
            <div class="progress margin-bottom">
              <div class="bar" style="width: 100%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Services Section -->
<div id="services" class="section">
  <div class="container">
    <div class="row">
      <div class="span12"> 
        
        <!-- Services profiles -->
        <h1 class="margin-top">Our <span>Services</span></h1>
        <span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span> adipiscing elit.<br />
        Sed diam <span>nonummy nibh</span> euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span>
        <ul class="thumbnails">
          
          <!-- Service detail -->
          <li class="span3">
            <div class="thumbnail thumbnail-services"><i class="icon-bullhorn"></i>
              <h3><span>Responsive</span> Design</h3>
              <h5 class="half-margin-bottom">Subtitle here</h5>
              <p>Sed augue lorem, <strong>dignissim eget</strong> bibendum vitae, scelerisque eget justo</p>
              <a href="#" class="btn">Learn more</a></div>
          </li>
          
          <!-- Service detail -->
          <li class="span3">
            <div class="thumbnail thumbnail-services"><i class="icon-laptop"></i>
              <h3><span>Consulting</span> Training</h3>
              <h5 class="half-margin-bottom">Subtitle here</h5>
              <p>Sed augue lorem, <strong>dignissim eget</strong> bibendum vitae, scelerisque eget justo</p>
              <a href="#" class="btn">Learn more</a></div>
          </li>
          
          <!-- Service detail -->
          <li class="span3">
            <div class="thumbnail thumbnail-services"><i class="icon-camera"></i>
              <h3><span>Market</span> strategies</h3>
              <h5 class="half-margin-bottom">Subtitle here</h5>
              <p>Sed augue lorem, <strong>dignissim eget</strong> bibendum vitae, scelerisque eget justo</p>
              <a href="#" class="btn">Learn more</a></div>
          </li>
          
          <!-- Service detail -->
          <li class="span3">
            <div class="thumbnail thumbnail-services"><i class="icon-globe"></i>
              <h3><span>Amazing</span> Template</h3>
              <h5 class="half-margin-bottom">Subtitle here</h5>
              <p>Sed augue lorem, <strong>dignissim eget</strong> bibendum vitae, scelerisque eget justo</p>
              <a href="#" class="btn">Learn more</a></div>
          </li>
        </ul>
        <hr />
        
        <!-- About skills -->
        <h3>Why <span>Choose Us</span></h3>
        <span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span> adipiscing elit.<br />
        Sed diam <span>nonummy nibh</span> euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span>
        <div class="row">
          <div class="span12"> 
            
            <!-- Small banner -->
            <div class="hero-unit text-center no-margin">
              <h1>efficiency and reliability</h1>
              <span class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention</span><br />
              <a class="btn btn-primary btn-large no-margin">Ask your Question</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Section -->
<div id="portfolio" class="section">
  <div class="container">
    <div class="row">
      <div class="span12"> 
        
        <!-- Portfolio -->
        <h1 class="margin-top">Our <span>Portfolio</span></h1>
        <span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span> adipiscing elit.<br />
        Sed diam <span>nonummy nibh</span> euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span> 
        
        <!-- Filter -->
        <div id="filters" class="row products-filter">
          <p><a href="#" data-filter="*" class="active">All</a> <a href="#" data-filter=".webdesign">Web Design</a> <a href="#" data-filter=".illustration">Illustration</a> <a href="#" data-filter=".abstract">Abstract</a></p>
        </div>
        
        <!-- Portfolio Masonry -->
        <div id="isotope"> 
          
          <!-- Folio 1 Single item -->
          <div class="item webdesign">
            <div class="thumb-hover"><img src="pics/folio-1.jpg" alt="Portfolio" /> 
              
              <!-- Button to Fancybox --> 
              <a href="pics/folio-1.jpg" class="view-fancybox" rel="tag"><i class="icon-camera"></i></a> 
              
              <!-- Button to trigger modal --> 
              <a href="#folio1" role="button" class="link" data-toggle="modal"><i class="icon-link"></i></a></div>
            <div class="masonry-detail">
              <h4>This is a Portfolio single <span>Title</span></h4>
              <em class="date">June 05, 2013</em></div>
          </div>
          
          <!-- Folio 2 Single item -->
          <div class="item illustration">
            <div class="thumb-hover"><img src="pics/folio-2.jpg" alt="Portfolio" /> 
              
              <!-- Button to Fancybox --> 
              <a href="pics/folio-2.jpg" class="view-fancybox" rel="tag"><i class="icon-camera"></i></a> 
              
              <!-- Button to trigger modal --> 
              <a href="#folio2" role="button" class="link" data-toggle="modal"><i class="icon-link"></i></a></div>
            <div class="masonry-detail">
              <h4>Something goes <span>Here</span></h4>
              <em class="date">June 05, 2013</em></div>
          </div>
          
          <!-- Folio 3 Single item -->
          <div class="item webdesign">
            <div class="thumb-hover"><img src="pics/folio-8.jpg" alt="Portfolio" /> 
              
              <!-- Button to Fancybox --> 
              <a href="pics/folio-8.jpg" class="view-fancybox" rel="tag"><i class="icon-camera"></i></a> 
              
              <!-- Button to trigger modal --> 
              <a href="#folio3" role="button" class="link" data-toggle="modal"><i class="icon-link"></i></a></div>
            <div class="masonry-detail">
              <h4>Another <span>Title</span></h4>
              <em class="date">June 05, 2013</em></div>
          </div>
          
          <!-- Folio 4 Single item -->
          <div class="item abstract">
            <div class="thumb-hover"><img src="pics/folio-7.jpg" alt="Portfolio" /> 
              
              <!-- Button to Fancybox --> 
              <a href="pics/folio-7.jpg" class="view-fancybox" rel="tag"><i class="icon-camera"></i></a> 
              
              <!-- Button to trigger modal --> 
              <a href="#folio4" role="button" class="link" data-toggle="modal"><i class="icon-link"></i></a></div>
            <div class="masonry-detail">
              <h4>Write something here <span>what you want</span></h4>
              <em class="date">June 05, 2013</em></div>
          </div>
          
          <!-- Folio 5 Single item -->
          <div class="item illustration">
            <div class="thumb-hover"><img src="pics/folio-3.jpg" alt="Portfolio" /> 
              
              <!-- Button to Fancybox --> 
              <a href="pics/folio-3.jpg" class="view-fancybox" rel="tag"><i class="icon-camera"></i></a> 
              
              <!-- Button to trigger modal --> 
              <a href="#folio5" role="button" class="link" data-toggle="modal"><i class="icon-link"></i></a></div>
            <div class="masonry-detail">
              <h4>Folio <span>Title in 2 rows</span></h4>
              <em class="date">June 05, 2013</em></div>
          </div>
          
          <!-- Folio 6 Single item -->
          <div class="item webdesign">
            <div class="thumb-hover"><img src="pics/folio-6.jpg" alt="Portfolio" /> 
              
              <!-- Button to Fancybox --> 
              <a href="pics/folio-6.jpg" class="view-fancybox" rel="tag"><i class="icon-camera"></i></a> 
              
              <!-- Button to trigger modal --> 
              <a href="#folio6" role="button" class="link" data-toggle="modal"><i class="icon-link"></i></a></div>
            <div class="masonry-detail">
              <h4>No <span>Title</span></h4>
              <em class="date">June 05, 2013</em></div>
          </div>
          
          <!-- Folio 7 Single item -->
          <div class="item webdesign">
            <div class="thumb-hover"><img src="pics/folio-4.jpg" alt="Portfolio" /> 
              
              <!-- Button to Fancybox --> 
              <a href="pics/folio-4.jpg" class="view-fancybox" rel="tag"><i class="icon-camera"></i></a> 
              
              <!-- Button to trigger modal --> 
              <a href="#folio7" role="button" class="link" data-toggle="modal"><i class="icon-link"></i></a></div>
            <div class="masonry-detail">
              <h4>Ally Jerry <span>Masonry</span></h4>
              <em class="date">June 05, 2013</em></div>
          </div>
          
          <!-- Folio 8 Single item -->
          <div class="item abstract">
            <div class="thumb-hover"><img src="pics/folio-5.jpg" alt="Portfolio" /> 
              
              <!-- Button to Fancybox --> 
              <a href="pics/folio-5.jpg" class="view-fancybox" rel="tag"><i class="icon-camera"></i></a> 
              
              <!-- Button to trigger modal --> 
              <a href="#folio8" role="button" class="link" data-toggle="modal"><i class="icon-link"></i></a></div>
            <div class="masonry-detail">
              <h4>This is another <span>Title in 3 rows or more</span></h4>
              <em class="date">June 05, 2013</em></div>
          </div>
        </div>
        
        <!-- Folio 1 Detail Modal -->
        <div id="folio1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="folio1" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Single Folio <span>Title</span></h3>
          </div>
          <div class="modal-body"><img src="pics/folio-1.jpg" alt="Portfolio" /> <em class="date">June 05, 2013</em><span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span> adipiscing elit.<br />
            Sed diam <span>nonummy nibh</span> euismod tincidunt ut laoreet <strong>dolore magna</strong> aliquam erat volutpat.</span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea <a href="#">commodo consequat</a>. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
          </div>
        </div>
        
        <!-- Folio 2 Detail Modal -->
        <div id="folio2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="folio2" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Single Folio <span>Title</span></h3>
          </div>
          <div class="modal-body"><img src="pics/folio-2.jpg" alt="Portfolio" /> <em class="date">June 05, 2013</em><span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span> adipiscing elit.<br />
            Sed diam <span>nonummy nibh</span> euismod tincidunt ut laoreet <strong>dolore magna</strong> aliquam erat volutpat.</span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea <a href="#">commodo consequat</a>. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
          </div>
        </div>
        
        <!-- Folio 3 Detail Modal -->
        <div id="folio3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="folio3" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Single Folio <span>Title</span></h3>
          </div>
          <div class="modal-body"><img src="pics/folio-8.jpg" alt="Portfolio" /> <em class="date">June 05, 2013</em><span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span> adipiscing elit.<br />
            Sed diam <span>nonummy nibh</span> euismod tincidunt ut laoreet <strong>dolore magna</strong> aliquam erat volutpat.</span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea <a href="#">commodo consequat</a>. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
          </div>
        </div>
        
        <!-- Folio 4 Detail Modal -->
        <div id="folio4" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="folio4" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Single Folio <span>Title</span></h3>
          </div>
          <div class="modal-body"><img src="pics/folio-7.jpg" alt="Portfolio" /> <em class="date">June 05, 2013</em><span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span> adipiscing elit.<br />
            Sed diam <span>nonummy nibh</span> euismod tincidunt ut laoreet <strong>dolore magna</strong> aliquam erat volutpat.</span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea <a href="#">commodo consequat</a>. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
          </div>
        </div>
        
        <!-- Folio 5 Detail Modal -->
        <div id="folio5" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="folio5" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Single Folio <span>Title</span></h3>
          </div>
          <div class="modal-body"><img src="pics/folio-3.jpg" alt="Portfolio" /> <em class="date">June 05, 2013</em><span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span> adipiscing elit.<br />
            Sed diam <span>nonummy nibh</span> euismod tincidunt ut laoreet <strong>dolore magna</strong> aliquam erat volutpat.</span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea <a href="#">commodo consequat</a>. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
          </div>
        </div>
        
        <!-- Folio 6 Detail Modal -->
        <div id="folio6" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="folio6" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Single Folio <span>Title</span></h3>
          </div>
          <div class="modal-body"><img src="pics/folio-6.jpg" alt="Portfolio" /> <em class="date">June 05, 2013</em><span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span> adipiscing elit.<br />
            Sed diam <span>nonummy nibh</span> euismod tincidunt ut laoreet <strong>dolore magna</strong> aliquam erat volutpat.</span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea <a href="#">commodo consequat</a>. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
          </div>
        </div>
        
        <!-- Folio 7 Detail Modal -->
        <div id="folio7" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="folio7" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Single Folio <span>Title</span></h3>
          </div>
          <div class="modal-body"><img src="pics/folio-4.jpg" alt="Portfolio" /> <em class="date">June 05, 2013</em><span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span> adipiscing elit.<br />
            Sed diam <span>nonummy nibh</span> euismod tincidunt ut laoreet <strong>dolore magna</strong> aliquam erat volutpat.</span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea <a href="#">commodo consequat</a>. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
          </div>
        </div>
        
        <!-- Folio 8 Detail Modal -->
        <div id="folio8" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="folio8" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Single Folio <span>Title</span></h3>
          </div>
          <div class="modal-body"><img src="pics/folio-5.jpg" alt="Portfolio" /> <em class="date">June 05, 2013</em><span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span> adipiscing elit.<br />
            Sed diam <span>nonummy nibh</span> euismod tincidunt ut laoreet <strong>dolore magna</strong> aliquam erat volutpat.</span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea <a href="#">commodo consequat</a>. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Blog Section -->
<div id="blog" class="section">
  <div class="container">
    <div class="row">
      <div class="span12"> 
        
        <!-- Blog -->
        <h1 class="margin-top">blog <span>Top Stories</span></h1>
        <span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span> adipiscing elit.<br />
        Sed diam <span>nonummy nibh</span> euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span> 
        
        <!-- Filter -->
        <div class="row blog-filter">
          <p><span>Categories</span> <a href="#" class="active">All</a> <a href="#">Web Design</a> <a href="#">Illustration</a> <a href="#">Abstract</a></p>
          <form action="blog-filter">
            <fieldset>
              <legend>Archives</legend>
              <select>
                <option>June 2013</option>
                <option>May 2013</option>
                <option>April 2013</option>
              </select>
            </fieldset>
          </form>
        </div>
        
        <!-- Blog List 4 Columns -->
        <ul class="thumbnails">
          
          <!-- Blog Single Box -->
          <li class="span3">
            <div class="thumbnail thumbnail-blog">
              <h3>Single Post <span>Title</span></h3>
              <div class="thumb-hover"><img src="pics/folio-1.jpg" alt="Pic" /><a href="pics/folio-1.jpg" class="view-fancybox" rel="tag"><i class="icon-camera"></i></a></div>
              <div class="blog-detail"><em class="date">June 05, 2013</em>
                <p>Sed augue lorem, <strong>dignissim eget</strong> bibendum vitae, scelerisque eget justo scelerisque</p>
                
                <!-- Button to trigger modal --> 
                <a href="#blog1" role="button" class="btn" data-toggle="modal">Read more</a></div>
            </div>
            
            <!-- Blog Post Modal -->
            <div id="blog1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="blog1" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Single Post <span>Title</span></h3>
              </div>
              <div class="modal-body"><img src="pics/folio-1.jpg" alt="Pic" /> <em class="date">June 05, 2013</em><span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span> adipiscing elit.<br />
                Sed diam <span>nonummy nibh</span> euismod tincidunt ut laoreet <strong>dolore</strong>.</span>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea <a href="#">commodo consequat</a>. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
              </div>
            </div>
          </li>
          
          <!-- Blog Single Box -->
          <li class="span3">
            <div class="thumbnail thumbnail-blog">
              <h3>Other Post <span>Here</span></h3>
              <div class="thumb-hover"><img src="pics/folio-2.jpg" alt="Pic" /><a href="pics/folio-2.jpg" class="view-fancybox" rel="tag"><i class="icon-camera"></i></a></div>
              <div class="blog-detail"><em class="date">June 05, 2013</em>
                <p>Sed augue lorem, <strong>dignissim eget</strong> bibendum vitae, scelerisque eget justo scelerisque</p>
                
                <!-- Button to trigger modal --> 
                <a href="#blog2" role="button" class="btn" data-toggle="modal">Read more</a></div>
            </div>
            
            <!-- Blog Post Modal -->
            <div id="blog2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="blog2" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Single Post <span>Title</span></h3>
              </div>
              <div class="modal-body"> <img src="pics/folio-2.jpg" alt="Pic" /> <em class="date">June 05, 2013</em><span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span> adipiscing elit.<br />
                Sed diam <span>nonummy nibh</span> euismod tincidunt ut laoreet <strong>dolore magna</strong> aliquam erat volutpat.</span>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea <a href="#">commodo consequat</a>. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
              </div>
            </div>
          </li>
          
          <!-- Blog Single Box -->
          <li class="span3">
            <div class="thumbnail thumbnail-blog">
              <h3>Title goes <span>Here</span></h3>
              <div class="thumb-hover"><img src="pics/folio-3.jpg" alt="Pic" /><a href="pics/folio-3.jpg" class="view-fancybox" rel="tag"><i class="icon-camera"></i></a></div>
              <div class="blog-detail"><em class="date">June 05, 2013</em>
                <p>Sed augue lorem, <strong>dignissim eget</strong> bibendum vitae, scelerisque eget justo scelerisque</p>
                
                <!-- Button to trigger modal --> 
                <a href="#blog3" role="button" class="btn" data-toggle="modal">Read more</a></div>
            </div>
            
            <!-- Blog Post Modal -->
            <div id="blog3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="blog3" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Single Post <span>Title</span></h3>
              </div>
              <div class="modal-body"> <img src="pics/folio-3.jpg" alt="Pic" /> <em class="date">June 05, 2013</em><span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span> adipiscing elit.<br />
                Sed diam <span>nonummy nibh</span> euismod tincidunt ut laoreet <strong>dolore magna</strong> aliquam erat volutpat.</span>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea <a href="#">commodo consequat</a>. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
              </div>
            </div>
          </li>
          
          <!-- Blog Single Box -->
          <li class="span3">
            <div class="thumbnail thumbnail-blog">
              <h3>This is your <span>Title</span></h3>
              <div class="thumb-hover"><img src="pics/folio-4.jpg" alt="Pic" /><a href="pics/folio-4.jpg" class="view-fancybox" rel="tag"><i class="icon-camera"></i></a></div>
              <div class="blog-detail"><em class="date">June 05, 2013</em>
                <p>Sed augue lorem, <strong>dignissim eget</strong> bibendum vitae, scelerisque eget justo scelerisque</p>
                
                <!-- Button to trigger modal --> 
                <a href="#blog4" role="button" class="btn" data-toggle="modal">Read more</a></div>
            </div>
            
            <!-- Blog Post Modal -->
            <div id="blog4" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="blog4" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Single Post <span>Title</span></h3>
              </div>
              <div class="modal-body"> <img src="pics/folio-4.jpg" alt="Pic" /> <em class="date">June 05, 2013</em><span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span> adipiscing elit.<br />
                Sed diam <span>nonummy nibh</span> euismod tincidunt ut laoreet <strong>dolore magna</strong> aliquam erat volutpat.</span>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea <a href="#">commodo consequat</a>. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
              </div>
            </div>
          </li>
        </ul>
        <hr />
        <h3>Blog <span>3 Columns</span></h3>
        <span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span> adipiscing elit.<br />
        Sed diam <span>nonummy nibh</span> euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span> 
        
        <!-- Blog List 3 Columns -->
        <ul class="thumbnails">
          
          <!-- Blog Single Box -->
          <li class="span4">
            <div class="thumbnail thumbnail-blog">
              <h3>Single Post <span>Title</span></h3>
              <div class="thumb-hover"><img src="pics/folio-1.jpg" alt="Pic" /><a href="pics/folio-1.jpg" class="view-fancybox" rel="tag"><i class="icon-camera"></i></a></div>
              <div class="blog-detail"><em class="date">June 05, 2013</em>
                <p>Sed augue lorem, <strong>dignissim eget</strong> bibendum vitae, scelerisque eget justo scelerisque</p>
                
                <!-- Button to trigger modal --> 
                <a href="#blog1" role="button" class="btn" data-toggle="modal">Read more</a></div>
            </div>
            
            <!-- Blog Post Modal -->
            <div id="blog5" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="blog5" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Single Post <span>Title</span></h3>
              </div>
              <div class="modal-body"><img src="pics/folio-1.jpg" alt="Pic" /> <em class="date">June 05, 2013</em><span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span> adipiscing elit.<br />
                Sed diam <span>nonummy nibh</span> euismod tincidunt ut laoreet <strong>dolore</strong>.</span>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea <a href="#">commodo consequat</a>. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
              </div>
            </div>
          </li>
          
          <!-- Blog Single Box -->
          <li class="span4">
            <div class="thumbnail thumbnail-blog">
              <h3>Ally <span>Holland</span></h3>
              <div class="thumb-hover"><img src="pics/folio-2.jpg" alt="Pic" /><a href="pics/folio-2.jpg" class="view-fancybox" rel="tag"><i class="icon-camera"></i></a></div>
              <div class="blog-detail"><em class="date">June 05, 2013</em>
                <p>Sed augue lorem, <strong>dignissim eget</strong> bibendum vitae, scelerisque eget justo scelerisque</p>
                
                <!-- Button to trigger modal --> 
                <a href="#blog2" role="button" class="btn" data-toggle="modal">Read more</a></div>
            </div>
            
            <!-- Blog Post Modal -->
            <div id="blog6" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="blog6" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Single Post <span>Title</span></h3>
              </div>
              <div class="modal-body"> <img src="pics/folio-2.jpg" alt="Pic" /> <em class="date">June 05, 2013</em><span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span> adipiscing elit.<br />
                Sed diam <span>nonummy nibh</span> euismod tincidunt ut laoreet <strong>dolore magna</strong> aliquam erat volutpat.</span>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea <a href="#">commodo consequat</a>. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
              </div>
            </div>
          </li>
          
          <!-- Blog Single Box -->
          <li class="span4">
            <div class="thumbnail thumbnail-blog">
              <h3>Susan <span>Meattr</span></h3>
              <div class="thumb-hover"><img src="pics/folio-3.jpg" alt="Pic" /><a href="pics/folio-3.jpg" class="view-fancybox" rel="tag"><i class="icon-camera"></i></a></div>
              <div class="blog-detail"><em class="date">June 05, 2013</em>
                <p>Sed augue lorem, <strong>dignissim eget</strong> bibendum vitae, scelerisque eget justo scelerisque</p>
                
                <!-- Button to trigger modal --> 
                <a href="#blog3" role="button" class="btn" data-toggle="modal">Read more</a></div>
            </div>
            
            <!-- Blog Post Modal -->
            <div id="blog7" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="blog7" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Single Post <span>Title</span></h3>
              </div>
              <div class="modal-body"> <img src="pics/folio-3.jpg" alt="Pic" /> <em class="date">June 05, 2013</em><span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span> adipiscing elit.<br />
                Sed diam <span>nonummy nibh</span> euismod tincidunt ut laoreet <strong>dolore magna</strong> aliquam erat volutpat.</span>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea <a href="#">commodo consequat</a>. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Contact Section -->
<div id="contact" class="section">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1 class="margin-top">Contact <span>Us</span></h1>
        <span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span> adipiscing elit.<br />
        Sed diam <span>nonummy nibh</span> euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span></div>
    </div>
  </div>
  
  <!-- Contact Map -->
  <div id="map-canvas"></div>
  <div class="container">
    <div class="row"> 
      
      <!-- Contact Address -->
      <div class="span6">
        <h3 class="half-margin-bottom">Our <span>Headquarter</span></h3>
        <span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span><br />
        Sed diam <span>nonummy nibh</span> euismod tincidunt.</span>
        <address>
        <strong>Twitter, Inc.</strong><br>
        795 Folsom Ave, Suite 600<br>
        San Francisco, CA 94107<br>
        P: (123) 456 7890
        </address>
        <address>
        <strong>Full Name</strong><br>
        <a href="#">first.last@example.com</a>
        </address>
      </div>
      
      <!-- Contact Form -->
      <div class="span6">
        <h3 class="half-margin-bottom">Email <span>us</span></h3>
        <span class="lead margin-bottom">Lorem ipsum dolor sit amet, <span>consectetuer</span><br />
        Sed diam <span>nonummy nibh</span> euismod tincidunt.</span>
        <form action="contact" class="contact-form">
          <fieldset>
            <legend>Contact us</legend>
            <input type="text" placeholder="Name" class="span6">
            <input type="text" placeholder="Mail" class="span6">
            <textarea rows="3" placeholder="Message" class="span12"></textarea>
            <button type="submit" class="btn btn-large">Send Message</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Scripts --> 
<script type="text/javascript" src="js/jquery-1.10.0.min.js"></script> 
<script type="text/javascript" src="js/bootstrap.min.js"></script> 
<script type="text/javascript" src="js/jquery.nicescroll.min.js"></script> 
<script type="text/javascript" src="js/jquery.animate-enhanced.min.js"></script> 
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script> 
<script type="text/javascript" src="js/jquery.superslides.min.js"></script> 
<script type="text/javascript" src="js/jquery.masonry.min.js"></script> 
<script type="text/javascript" src="js/jquery.fancybox.min.js"></script> 
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script> 
<script type="text/javascript" src="js/functions.js"></script>
</body>
</html>