<!-- Meta tags -->
<% set_meta_tags site: "Mobile-First",
                 description: "Deep Blue Dev: Access your data wherever you have the ability to go online, from any device: Phone, tablet or computer.",
								 og: {
									 title: "Your Mobile-First Web Heroes",
									 type: 'website',
									 url: 'http://www.deepbluedev.co/mobile-first',
									 description: "Deep Blue Dev: Access your data wherever you have the ability to go online, from any device: Phone, tablet or computer.",
									 image: "http://i.imgur.com/jzcej1u.png"
									 }%>

<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 951296410;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<div style="display:none;">
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
	</script>
</div>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/951296410/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

	<section class="page-title style5" data-path="img/blog/large/2.jpg" style="background: url(img/blog/large/2.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="strong text-uppercase">Mobile-First Development</h1>
				</div>
			</div>
		</div>
		<a href="#next" class="arrow bounce" title="Scroll Down"><i class="fa fa-angle-down"></i></a>
	</section>

  <!-- page content START -->
  <div class="content" id="content">

  	<!-- section START -->
  	<section class="section" id="next">
  		<div class="container">
  			<div class="row">
  				<div class="col-lg-8 col-lg-offset-2 text-center">
  					<div class="section-header">
  						<small class="text-uppercase strong base-color">Mobile-Friendly Web Development</small>
  						<h1>Our Most Advanced Product</h1>
  					</div>

  					<!-- optional spacer classes "spacer-10" "spacer-20" "spacer-30" upto "spacer-80" -->
  					<hr class="spacer-10">
  				</div>
  			</div>
        <div class="row">
  				<div class="col-lg-8 col-lg-offset-2 text-center">
            <div class="row">
    					<div class="col-md-12">
    						<div class="icon-box style2">
                    <p>
                      In April of 2015 Google made a move that would forever change the way businesses are run. Since then,
                      any google search made on a mobile device would only display results that are mobile-friendly. A
                      mobile-friendly website is a website which a user can easily read and use to find the information they
                      are looking for from a mobile device. What this means for a business is that if its website is not
                      mobile-friendly, then anyone looking for businesses in their category  on a mobile device will not
                      find it on Google. Google has stated that "94% of people with smartphones search for local information
                      on their phones" and that "77% of mobile searches occur at home or at work, places where desktop computers
                      are likely to be present."
                    </p><br>
                      <p>
                        At Deep Blue, we pride ourselves on being Mobile-First. Meaning every website we create is optimized
                        for every device, and it is done for our clients at no additional cost. That’s right, at Deep Blue,
                        you can get your website working across all devices for no extra charge.
                    </p>
                    <a href="https://connect.liveninja.com/phone/?queue=standard@deep-blue-dev&apikey=deep-blue-dev" class="btn btn-success"><span>Talk with us now!</span></a>
    							</div>
    					</div>
    				</div>
  				</div>
  			</div>
        <hr class="spacer-30">
  			<div class="row">
          <div class="col-md-4">
  					<div class="icon-box style5">
  						<i class="ion-ios-personadd-outline"></i>
  						<h4 class="box-title strong">Mobile First</h4>
  						<p>Access your data wherever you have the ability to go online, from any device: Phone, tablet or computer. We can build you a powerful custom tool.</p>
  						<!-- <a href="https://docs.google.com/a/deepbluedev.co/forms/d/1WKl8bRBosk2jfnqHPZXaEur02RZwkK3V44cnhwKtgX4/viewform?usp=send_form" class="btn btn-primary btn-sm sq-corner" title="View Details"><i class="octicon octicon-link"></i></a> -->
  					</div>
  				</div>
  				<div class="col-md-4">
  					<div class="icon-box style5">
  						<i class="ion-ios-monitor"></i>
  						<h4 class="box-title strong">Beautiful Web Presence</h4>
  						<p>Build a beautiful web presence that you can log into and gain access to tons of extra features. At Deep Blue, everything we do, by default is mobile first.</p>
  						<!-- <a href="https://docs.google.com/a/deepbluedev.co/forms/d/1WKl8bRBosk2jfnqHPZXaEur02RZwkK3V44cnhwKtgX4/viewform?usp=send_form" class="btn btn-primary btn-sm sq-corner" title="View Details"><i class="octicon octicon-link"></i></a> -->
  					</div>
  				</div>
  				<div class="col-md-4">
  					<div class="icon-box style5">
  						<i class="ion-ios-search-strong"></i>
  						<h4 class="box-title strong">SEO Friendly</h4>
  						<p>Show up where it matters. Make sure consumers and prospects can find your business when looking on search engines. Let us make your business shine online. </p>
  						<!-- <a href="https://docs.google.com/a/deepbluedev.co/forms/d/1WKl8bRBosk2jfnqHPZXaEur02RZwkK3V44cnhwKtgX4/viewform?usp=send_form" class="btn btn-primary btn-sm sq-corner" title="View Details"><i class="octicon octicon-link"></i></a> -->
  					</div>
  				</div>
  			</div>
        <!-- Mobile friendly test -->
        <p 	class="kr-cloud slide-sub-title"
  				style="top:420px; left:100px; text-align: center;"
  				data-transitionin="offsety:500;duration:1500;delay:2800;easing:easeOutQuart;"
  				data-transitionout="offsety:500; scaley:0.1; duration:1200; delay:3500;easing:easeInOutExpo;">
  				<a href="https://www.google.com/webmasters/tools/mobile-friendly/" class="btn btn-primary btn-lg" title="Lest Start">Are you mobile friendly?</a>
  			</p>
        <!-- Mobile friendly test -->
  		</div>
  	</section>


<section>
		<a class="info-box bg-danger text-center no-margin wow flipInX" data-wow-delay="0.5s" href="https://docs.google.com/a/deepbluedev.co/forms/d/1lYJX_2ZmN4ZR8EpblCg5cHQjOMrNbd9H4U37hd15Ew0/viewform?usp=send_form">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1">
						<i class="livicon pull-right visible-lg" data-name="angle-double-right" data-color="#fff" data-hovercolor="false" data-size="36" data-onparent="true"></i>
						<p class="h2">Contact us, and get in touch with a Web Developer today!</p>
					</div>
				</div>
			</div>
		</a>
	</section>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67120211-1', 'auto');
  ga('send', 'pageview');

</script>

<script type='text/javascript' data-cfasync='false'>(function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '15ac40d4-262e-49da-b948-93b1cf882fed', f: true }); done = true; } }; })();</script>
<!-- Start of Async HubSpot Analytics Code -->
  <script type="text/javascript">
    (function(d,s,i,r) {
      if (d.getElementById(i)){return;}
      var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
      n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/1752173.js';
      e.parentNode.insertBefore(n, e);
    })(document,"script","hs-analytics",300000);
  </script>
<!-- End of Async HubSpot Analytics Code -->
