

	<section class="page-title style5" data-path="img/headers/header12.jpg" style="background: url(img/headers/header12.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="strong text-uppercase">Explore Partnerships</h1>
				</div>
			</div>
		</div>
		<a href="#next" class="arrow bounce" title="Scroll Down"><i class="fa fa-angle-down"></i></a>
	</section>

<div class="content" id="content">
	<section class="section gray-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 text-center">
						<div class="section-header">
							<small class="text-uppercase strong base-color">We believe in Strategic Partnerships</small>
							<h1>Get Involved Today</h1>
						</div>

						<!-- optional spacer classes "spacer-10" "spacer-20" "spacer-30" upto "spacer-80" -->
						<hr class="spacer-30">
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="icon-box style2">
								<i class="icon-telescope"></i>
								<h4 class="box-title strong">Strategic Partnerships</h4>
								<p>Do you have offer a service that we could benefit from? Reach out to us today and Lets talk! We are always looking for ways to build our Brand.</p>
								<!-- <a href="javascript:void(0);" class="btn btn-primary btn-sm" title="Service Details">Learn More <i class="fa fa-angle-right"></i></a> -->
							</div>
					</div>
					<div class="col-md-4">
						<div class="icon-box style2">
							<i class="icon-lightbulb"></i>
							<h4 class="box-title strong">Advisory Positions</h4>
							<p>We are currently looking for Advisors to Join our advisory board. Have what it takes? Contact us today.</p>

						</div>
					</div>
					<div class="col-md-4">
						<div class="icon-box style2">
							<i class="icon-strategy"></i>
							<h4 class="box-title strong">White Label-Solutions</h4>
							<p>Have Development need but not the team to get it done? Dont outsource overseas. Deep Blue can meet all of your needs.</p>
							<a href="/white-label" class="btn btn-primary btn-sm" title="Service Details">Learn More <i class="fa fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="row">
				<div class="col-md-6">
					<h3><strong>Reach Out</strong></h3>
					<p>Simply complete the form below and we will get in touch with you shortly.</p>
					<hr class="spacer-20">

					<form method="post" id="contact-multi" action="php/send-multi.php" role="form" novalidate="novalidate">
						<fieldset>
							<legend>Contact Form</legend>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="firstname">First name <sup data-toggle="tooltip" title="" data-original-title="First name is required">*</sup></label>
										<input type="text" class="form-control" id="firstname" name="firstname" required="">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="lastname">Last name <sup data-toggle="tooltip" title="" data-original-title="Last name is required">*</sup></label>
										<input type="text" class="form-control" id="lastname" name="lastname" required="">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="email">Email address <sup data-toggle="tooltip" title="" data-original-title="Email address is required">*</sup></label>
										<input type="text" class="form-control" id="email" name="email" required="">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="phone">Phone</label>
										<input type="text" class="form-control" id="phone" name="phone">
									</div>
								</div>
								<div class="col-sm-12">
									<div class="form-group">
										<label for="website">Website</label>
										<input type="text" class="form-control" id="website" name="website">
									</div>
								</div>
								<div class="col-lg-12">
									<div class="form-group">
										<label for="message">Whats on your mind?</label>
										<textarea class="form-control" id="message" name="message" rows="3"></textarea>
									</div>
								</div>
								<div class="col-lg-12">
									<div class="form-group text-right">
										<button type="submit" class="btn btn-primary contact-btn" id="send">Send message</button>
									</div>
								</div>
							</div>
						</fieldset>
					</form>
						<!-- container for success and error messages -->
						<div id="response" class="response"></div>

					<hr class="spacer-20">

				</div>

			</div>

</div>