<!-- preloader START -->
<div class="preloader">
	<div class="spinner-wrap">
		<div class="spinner spinner-wave">
			<div class="rect1"></div>
			<div class="rect2"></div>
			<div class="rect3"></div>
			<div class="rect4"></div>
			<div class="rect5"></div>
		</div>
	</div>
</div>
<!-- preloader END -->
<!-- page title style2 START -->
<section class="page-title style2" data-path="img/headers/header9.jpg">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="strong text-uppercase">Portfolio</h1>
				<ol class="breadcrumb">
					<li><a href="javascript:void(0);"><i class="fa fa-home"></i></a></li>
					<li><a href="javascript:void(0);">Portfolio</a></li>
					<li class="active">Agency Fullwidth</li>
				</ol>
			</div>
		</div>
	</div>
</section>
<!-- page title style2 END -->


<!-- page content START -->
<div class="content" id="content">

	<!-- section START -->
		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">

						<div id="filters-container" class="cbp-l-filters-text">
							<div class="cbp-l-filters-text-sort">Sort by:</div>
							<div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
								All <div class="cbp-filter-counter"></div>
							</div> |
							<div data-filter=".website" class="cbp-filter-item">
								Websites <div class="cbp-filter-counter"></div>
							</div> |
							<div data-filter=".web-apps" class="cbp-filter-item">
								Web Applications <div class="cbp-filter-counter"></div>
							</div> |
							<div data-filter=".design" class="cbp-filter-item">
								Design <div class="cbp-filter-counter"></div>
							</div> |
						</div>
						<div  class="cbp cbp-l-grid-agency agency-2col">
							<div class="cbp-item web-apps">
								<a href="javascript:void(0);" target="_blank" >
									<div class="cbp-caption">
										<div class="cbp-caption-defaultWrap">
											<img src="folio-2.jpg" alt="">
										</div>
									</div>
									<div class="cbp-l-grid-agency-title">Outnix</div>
									<div class="cbp-l-grid-agency-desc">Web Application / Graphic</div>
								</a>
							</div>
							<div class="cbp-item design">
								<a href="javascript:void(0);" target="_blank" >
									<div class="cbp-caption">
										<div class="cbp-caption-defaultWrap">
											<img src="folio-8.jpg" alt="">
										</div>
									</div>
									<div class="cbp-l-grid-agency-title">Outnix IOS App</div>
									<div class="cbp-l-grid-agency-desc">IOS Design / Graphic</div>
								</a>
							</div>
							<div class="cbp-item website">
								<a href="javascript:void(0);" target="_blank" >
									<div class="cbp-caption">
										<div class="cbp-caption-defaultWrap">
											<img src="maggiesage.png" alt="">
										</div>
									</div>
									<div class="cbp-l-grid-agency-title">Maggie Sage</div>
									<div class="cbp-l-grid-agency-desc">Website / Graphic</div>
								</a>
							</div>
							<div class="cbp-item website">
								<a href="javascript:void(0);" target="_blank" >
									<div class="cbp-caption">
										<div class="cbp-caption-defaultWrap">
											<img src="folio-3.jpg" alt="">
										</div>
									</div>
									<div class="cbp-l-grid-agency-title">Tow Boat U.S.</div>
									<div class="cbp-l-grid-agency-desc">Website / Graphic</div>
								</a>
							</div>
							<div class="cbp-item website">
								<a href="javascript:void(0);" target="_blank" >
									<div class="cbp-caption">
										<div class="cbp-caption-defaultWrap">
											<img src="folio-1.jpg" alt="">
										</div>
									</div>
									<div class="cbp-l-grid-agency-title">Juice House</div>
									<div class="cbp-l-grid-agency-desc">Website / Graphic</div>
								</a>
							</div>

						</div>
				<!-- 		<div id="loadMore-container" class="cbp-l-loadMore-button">
							<a href="cubeportfolio/ajax/agency/loadMore.html" class="cbp-l-loadMore-link">
								<span class="cbp-l-loadMore-defaultText">LOAD MORE</span>
								<span class="cbp-l-loadMore-loadingText">LOADING...</span>
								<span class="cbp-l-loadMore-noMoreLoading">NO MORE WORKS</span>
							</a>
						</div> -->

					</div>
				</div>
			</div>
		</section>
	<!-- section END -->

</div>