<!-- Meta tags -->
<% set_meta_tags title: "Process",
                 description: "Deep Blue Dev Transparent Process: Don't you hate handing a sheet of requirements over to a project manager and not hear anything for 2 months. We keep you as hands on as you can be 100% of the time",
								 og: {
									 title: "Your Mobile-First Web Heroes",
									 type: 'website',
									 url: "http://www.deepbluedev.co/process",
									 description:"Deep Blue Dev Transparent Process: Don't you hate handing a sheet of requirements over to a project manager and not hear anything for 2 months. We keep you as hands on as you can be 100% of the time",
									 image: "http://i.imgur.com/jzcej1u.png"
									 }%>

<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 951296410;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<div style="display:none;">
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
	</script>
</div>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/951296410/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

	<section class="page-title style5" data-path="img/slides/portfolio/slide3.jpg" style="background: url(img/slides/portfolio/slide3.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="strong text-uppercase">Our Process</h1>
				</div>
			</div>
		</div>
		<a href="#next2" class="arrow bounce" title="Scroll Down"><i class="fa fa-angle-down"></i></a>
	</section>

<!-- Content -->
  <div class="content">
  	<a id="next2"></a>
  	<section class="section gray-bg">
  			<div class="container">
  				<div class="row">
  					<div class="col-lg-8 col-lg-offset-2 text-center">
  						<div class="section-header">
  							<small class="text-uppercase strong base-color">Our Web Development</small>
  							<h1>Process</h1>
  						</div>

  						<!-- optional spacer classes "spacer-10" "spacer-20" "spacer-30" upto "spacer-80" -->
  						<hr class="spacer-30">
  					</div>
  				</div>
  				<div class="row">
  					<div class="col-md-12">
  						<div class="icon-box style2">
  								<i class="icon-tools"></i>
  								<h4 class="box-title strong">Ideation</h4>
  								<p>First, we discuss the details of the project. We can do this a number of different ways and usually depends on the customer's preference and availability. Our web developers are always willing to hear about your business and what it needs.</p>
                  <h4 class="box-title strong">Proposal</h4>
  								<p>Next, we'll send a proposal your way for you to sign, and have you sign up for a few accounts so that we can stay connected, and so you can always view your code, and our progress.</p>
                  <h4 class="box-title strong">Build</h4>
  								<p>Once the proposal is signed, we can start on your project. Your project's lead developer will keep you updated regularly so you can rest easy knowing you're in good hands.</p>
                  <h4 class="box-title strong">Feedback</h4>
  								<p>After your project's completion, there will be a review and wrap up phase for us to determine if the project meets your expectations. However, more often than not, you'll find that it'll exceed those expectations.</p>
                  <h4 class="box-title strong">Reward</h4>
  								<p>Finally, you can start reaping the massive benefits you get from owning such valuable software. Be prepared to take on a lot of new clientele.</p>
  								<!-- <a href="javascript:void(0);" class="btn btn-primary btn-sm" title="Service Details">Learn More <i class="fa fa-angle-right"></i></a> -->
  							</div>
  					</div>
  				</div>
  			</div>
  		</section>
  <hr class="spacer-30">
  <div class="container">
  	<div class="row">
  		<div class="col-md-6">
  			<div class="icon-box style1">
  				<i class="livicon" data-name="wrench" data-color="#f62459" data-hovercolor="false" data-size="48" data-onparent="true"></i>
  				<h4 class="box-title strong"><a href="/websites">Ongoing Maintenance</a></h4>
  				<p>Every web application from Deep Blue Development comes with a 6 month maintenance contract. We want to make sure all of our customers are satisfied.</p>
  			</div>
  		</div>
  		<div class="col-md-6">
        <div class="icon-box style1">
          <i class="livicon" data-name="star-full" data-color="#f62459" data-hovercolor="false" data-size="48" data-onparent="true"></i>
          <h4 class="box-title strong">Transparent Process</h4>
          <p>Don't you hate handing a sheet of requirements over to a project manager and not hear anything for 2 months. We keep you as hands on as you can be 100% of the time.</p>
        </div>
  		</div>
  	</div>
  </div>
  <hr class="spacer-30">

<!-- Contact -->
<section>
		<a class="info-box bg-danger text-center no-margin wow flipInX" data-wow-delay="0.5s" href="https://docs.google.com/a/deepbluedev.co/forms/d/1lYJX_2ZmN4ZR8EpblCg5cHQjOMrNbd9H4U37hd15Ew0/viewform?usp=send_form">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1">
						<i class="livicon pull-right visible-lg" data-name="angle-double-right" data-color="#fff" data-hovercolor="false" data-size="36" data-onparent="true"></i>
						<p class="h2">Contact us, and get in touch with a Web Developer today!</p>
					</div>
				</div>
			</div>
		</a>
	</section>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67120211-1', 'auto');
  ga('send', 'pageview');

</script>

<script type='text/javascript' data-cfasync='false'>(function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '15ac40d4-262e-49da-b948-93b1cf882fed', f: true }); done = true; } }; })();</script>
<!-- Start of Async HubSpot Analytics Code -->
  <script type="text/javascript">
    (function(d,s,i,r) {
      if (d.getElementById(i)){return;}
      var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
      n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/1752173.js';
      e.parentNode.insertBefore(n, e);
    })(document,"script","hs-analytics",300000);
  </script>
<!-- End of Async HubSpot Analytics Code -->
