<!-- preloader START -->
<div class="preloader">
	<div class="spinner-wrap">
		<div class="spinner spinner-wave">
			<div class="rect1"></div>
			<div class="rect2"></div>
			<div class="rect3"></div>
			<div class="rect4"></div>
			<div class="rect5"></div>
		</div>
	</div>
</div>
<!-- preloader END -->

<section class="page-title style3" data-path="img/headers/header3.jpg">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="strong text-uppercase">Services</h1>
				<ol class="breadcrumb hidden-xs">
					<li><a href="javascript:void(0);"><i class="fa fa-home"></i></a></li>
					<li><a href="javascript:void(0);">Pages</a></li>
					<li class="active">Services</li>
				</ol>
			</div>
		</div>
	</div>
</section>
<!-- page title style3 END -->

<!-- page content START -->
<div class="content" id="content">


	<section class="section  no-padding">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 shade bg-info">
					<div class="icon-box style4">
						<i class="livicon" data-name="gear" data-color="#fff" data-hovercolor="false" data-size="48" data-onparent="true"></i>
						<h4 class="box-title strong">Ad Words Campaign</h4>
						<p></p>
						<ul class="list alt-list">
							<li><i class="fa fa-angle-double-right"></i> <a href="javascript:void(0);" title="service title">Keyword Targeted</a></li>
							<li><i class="fa fa-angle-double-right"></i> <a href="javascript:void(0);" title="service title">Query Targeted</a></li>
							<li><i class="fa fa-angle-double-right"></i> <a href="javascript:void(0);" title="service title">Industry Specific</a></li>
							<li><i class="fa fa-angle-double-right"></i> <a href="javascript:void(0);" title="service title">Dedicated SEO specialists</a></li>
							<li><i class="fa fa-angle-double-right"></i> <a href="javascript:void(0);" title="service title">Banner ads design</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-4 shade bg-info">
					<div class="icon-box style4">
						<i class="livicon" data-name="users-add" data-color="#fff" data-hovercolor="false" data-size="48" data-onparent="true"></i>
						<h4 class="box-title strong">Social Media Optimization</h4>
						<p></p>
						<ul class="list alt-list">
							<li><i class="fa fa-angle-double-right"></i> <a href="javascript:void(0);" title="service title">Increase Following</a></li>
							<li><i class="fa fa-angle-double-right"></i> <a href="javascript:void(0);" title="service title">Post highly curated content</a></li>
							<li><i class="fa fa-angle-double-right"></i> <a href="javascript:void(0);" title="service title">Increase follower interest</a></li>
							<li><i class="fa fa-angle-double-right"></i> <a href="javascript:void(0);" title="service title">Proven results</a></li>
							<li><i class="fa fa-angle-double-right"></i> <a href="javascript:void(0);" title="service title">Backling to Blog Posts</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-4 shade bg-info">
					<div class="icon-box style4">
						<i class="livicon" data-name="presentation" data-color="#fff" data-hovercolor="false" data-size="48" data-onparent="true"></i>
						<h4 class="box-title strong">Content Creation, Backlinks, and Much More</h4>
						<p></p>
						<ul class="list alt-list">
							<li><i class="fa fa-angle-double-right"></i> <a href="javascript:void(0);" title="service title">Unique Target Content</a></li>
							<li><i class="fa fa-angle-double-right"></i> <a href="javascript:void(0);" title="service title">Proven Partnerships for effective coverage</a></li>
							<li><i class="fa fa-angle-double-right"></i> <a href="javascript:void(0);" title="service title">Get your Brand or Business noticed</a></li>
							<li><i class="fa fa-angle-double-right"></i> <a href="javascript:void(0);" title="service title">Highly Appealing content for Targeted traffic</a></li>
							<li><i class="fa fa-angle-double-right"></i> <a href="javascript:void(0);" title="service title">Routing to Call to Action</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>



<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center">
					<div class="section-header">
						<i class="icon-basket wow zoomInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomInUp;"></i>
						<h1>Simple &amp; Transparent Pricing</h1>
					</div>

					<!-- optional spacer classes "spacer-10" "spacer-20" "spacer-30" upto "spacer-80" -->
					<hr class="spacer-20">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="plan style2">
						<div class="plan-header bg-info">
							<i class="livicon" data-name="star-full" data-color="#fff" data-hovercolor="#fff" data-size="48" id="livicon-16" style="width: 48px; height: 48px;"><svg height="48" version="1.1" width="48" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative; left: -0.5px;" id="canvas-for-livicon-16"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><path fill="#ffffff" stroke="none" d="M30,12.813L20.325,11.388L16,2.5L11.674,11.388L2,12.813L9,19.73L7.348,29.5L16,24.888L24.652,29.5L22.999000000000002,19.729L30,12.813ZM16,23.278L9.201,26.9L10.5,19.229999999999997L5,13.797L12.602,12.678L16,5.7L19.4,12.679L27,13.798L21.501,19.231L22.799,26.901000000000003L16,23.278Z" opacity="0" transform="matrix(1.5,0,0,1.5,0,0)" stroke-width="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#ffffff" stroke="none" d="M16,2.5L20.325,11.388L30,12.813L22.999,19.73L24.651999999999997,29.501L16,24.888L7.348,29.5L9,19.729L2,12.812L11.674,11.386999999999999L16,2.5Z" stroke-width="0" transform="matrix(1.5,0,0,1.5,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg></i>
							<h4 class="title">Choice</h4>
							<h2 class="price"><sup>$</sup><strong>750</strong>.<sup>00</sup> <small>/month</small></h2>
						</div>
						<div class="plan-features">
							<ul class="features-list">
								<li>Appear on all Major Search Platfrom<i class="ion-ios-infinite alt-color" data-toggle="tooltip" title="" data-original-title="Google, Bing, Yahoo"></i></li>
								<li>Site Analytics<strong class="alt-color" data-toggle="tooltip" title="" data-original-title="Traffic Definition, to understand how people interact with your site."> (?)</strong></li>
								<li>Curated Content Creation<strong class="alt-color" data-toggle="tooltip" title="" data-original-title="3 Blog Posts Weekl">(?)</strong></li>
								<li>Meta Tags<strong class="alt-color" data-toggle="tooltip" title="" data-original-title="SEO Friendly Page Definiton to allow seamless searching through search engines of your site.">(?)</strong></li>

							</ul>
						</div>
						<div class="plan-footer">
							<a href="javascript:void(0);" class="btn btn-info" title="Start your basic plan">Start Now</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="plan style2">
						<div class="plan-header bg-info">
							<i class="livicon" data-name="clock" data-color="#fff" data-hovercolor="#fff" data-size="48" id="livicon-17" style="width: 48px; height: 48px;"><svg height="48" version="1.1" width="48" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative; left: -0.5px;" id="canvas-for-livicon-17"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><path fill="#ffffff" stroke="none" d="M16,2C8.269,2,2,8.269,2,16S8.269,30,16,30S30,23.731,30,16S23.731,2,16,2ZM16.691,26.965L16.5,24.101H15.5L15.309,26.965C9.788,26.621,5.379,22.213,5.036,16.692L7.9,16.5V15.5L5.035,15.309C5.3790000000000004,9.788,9.786999999999999,5.379,15.308,5.036L15.5,7.9H16.5L16.691,5.035C22.212,5.3790000000000004,26.621,9.786999999999999,26.964,15.308L24.101,15.5V16.5L26.965,16.691C26.621,22.213,22.213,26.621,16.691,26.965Z" transform="matrix(1.5,0,0,1.5,0,0)" stroke-width="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="#ffffff" stroke="none" d="M22.632,12.287C22.908,12.766,16.979000000000003,16.59,16.5,16.866S15.41,16.979,15.134,16.5C14.858,16.021,15.022,15.411,15.5,15.134S22.355,11.809,22.632,12.287Z" transform="matrix(1.5,0,0,1.5,0,0)" stroke-width="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="#ffffff" stroke="none" d="M17.082,15.375C17.428,15.973,17.223,16.737000000000002,16.625,17.083C16.028,17.427999999999997,15.263,17.223,14.917,16.625S10.403,7.685,11,7.34C11.598,6.995,16.737,14.777,17.082,15.375Z" stroke-width="0" transform="matrix(1.5,0,0,1.5,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg></i>
							<h4 class="title">Choice Plus</h4>
							<h2 class="price"><sup>$</sup><strong>1000</strong>.<sup>00</sup> <small>/month</small></h2>
						</div>
						<div class="plan-features">
							<ul class="features-list">
								<li><strong>All Choice Benefits</strong></li>
								<li>Custom Curated Content<i></i><i class="ion-ios-infinite alt-color" data-toggle="tooltip" title="" data-original-title="5 Blog Posts Weekly"></i></li>
								<li>Social Media Optimization <strong class="alt-color" data-toggle="tooltip" title="" data-original-title="Cureated Social Posts"><i class="fa fa-twitter"></i></strong></li>
								<li><i class="fa fa-close text-danger"></i></li>
							</ul>
						</div>
						<div class="plan-footer">
							<a href="javascript:void(0);" class="btn btn-warning" title="Start your regular plan">Start Now</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="plan style2">
						<div class="plan-header bg-success">
							<i class="livicon" data-name="barchart" data-color="#fff" data-hovercolor="#fff" data-size="48" id="livicon-18" style="width: 48px; height: 48px;"><svg height="48" version="1.1" width="48" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative; left: -0.5px;" id="canvas-for-livicon-18"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><path fill="#ffffff" stroke="none" d="M3.4,4C3.731,4,4,4.269,4,4.6V25.4C4,25.73,4.269,26,4.6,26H29.4C29.729999999999997,26,30,26.27,30,26.6V27.4C30,27.729999999999997,29.73,28,29.4,28H3.2C2.537,28,2,27.463,2,26.801V4.6C2,4.269,2.269,4,2.6,4H3.4ZM12,23.4V14.6C12,14.27,11.731,14,11.4,14H6.6C6.269,14,6,14.27,6,14.6V23.4C6,23.73,6.269,24,6.6,24H11.4C11.731,24,12,23.73,12,23.4ZM20,23.4V6.6C20,6.269,19.73,6,19.4,6H14.6C14.269,6,14,6.269,14,6.6V23.4C14,23.729999999999997,14.269,24,14.6,24H19.4C19.73,24,20,23.73,20,23.4ZM28,23.4V10.6C28,10.269,27.73,10,27.4,10H22.6C22.270000000000003,10,22,10.269,22,10.6V23.4C22,23.729999999999997,22.27,24,22.6,24H27.4C27.73,24,28,23.73,28,23.4Z" stroke-width="0" transform="matrix(1.5,0,0,1.5,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg></i>
							<h4 class="title">Premium</h4>
							<h2 class="price"><sup>$</sup><strong>1250</strong>.<sup>00</sup> <small>/month</small></h2>
						</div>
						<div class="plan-features">
							<ul class="features-list">
								<li><strong>All Choice Plus Benefits</strong></li>
								<li>Custom Curated Content<i></i><i class="ion-ios-infinite alt-color" data-toggle="tooltip" title="" data-original-title="7 Blog Posts Weekly"></i></li>
								<li>Backlinks<strong class="alt-color" data-toggle="tooltip" title="" data-original-title="Work with industry companies to provide targeted advertising.">(?)</strong></li>
								<li><i class="fa fa-close text-danger"></i></li>
							</ul>
						</div>
						<div class="plan-footer">
							<a href="javascript:void(0);" class="btn btn-success" title="Start your popular plan">Start Now</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="plan style2">
						<div class="plan-header bg-info">
							<i class="livicon" data-name="dashboard" data-color="#fff" data-hovercolor="#fff" data-size="48" id="livicon-19" style="width: 48px; height: 48px;"><svg height="48" version="1.1" width="48" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative; left: -0.5px;" id="canvas-for-livicon-19"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><path fill="#ffffff" stroke="none" d="M16,6C8.269,6,2,12.264,2,19.992C2,22.142,2.485,24.181,3.354,26H28.648C29.516,24.182,30,22.143,30,19.992C30,12.264,23.732,6,16,6ZM27.826,22H20.584C19.814,23.771,18.055,25,16,25S12.186,23.771,11.416,22H4.172C4.059,21.361,4,20.686,4,19.992C4,13.37,9.374,7.999,16,7.999C22.628999999999998,7.999,27.997999999999998,13.370000000000001,27.997999999999998,19.992C27.998,20.684,27.939,21.355,27.826,22Z" stroke-width="0" transform="matrix(1.5,0,0,1.5,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="#ffffff" stroke="none" d="M9,20C9,18.921,9.244,17.899,9.68,16.987000000000002C10.806,14.629,13.213,13,16,13C19.866,13,23,16.134,23,20H26C26,14.478,21.522,10,16,10C12.265,10,9.008,12.048,7.291,15.083C6.469,16.535,6,18.213,6,20H9Z" opacity="0.1" stroke-width="0" transform="matrix(1.5,0,0,1.5,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0.1;"></path><path fill="#ffffff" stroke="none" d="M7.165,15.313C6.804,16.006,6.53,16.672,6.338,17.362000000000002C6.111,18.18,6,19.031,6,20H9C9,19.463,9.053,18.956,9.16,18.47C9.268,17.98,9.431000000000001,17.511,9.649000000000001,17.052999999999997L7.165,15.313ZM17.404,18.576C18.196,19.355,18.189,20.632,17.414,21.414C16.635,22.203000000000003,15.376000000000001,22.197000000000003,14.595000000000002,21.424000000000003C14.325000000000003,21.160000000000004,13.564000000000002,18.970000000000002,13.172000000000002,18.586000000000002L8.594,14C8.199,13.611,8.341,12.834,8.591,12.583C8.84,12.333,9.607999999999999,12.189,10.001,12.578L14.587,17.172C14.979,17.561,17.143,18.314,17.404,18.576Z" stroke-width="0" transform="matrix(1.5,0,0,1.5,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg></i>
							<h4 class="title">Premium Plus</h4>
							<h2 class="price"><sup>$</sup><strong>1500</strong>.<sup>00</sup> <small>/month</small></h2>
						</div>
						<div class="plan-features">
							<ul class="features-list">
								<li><strong>All Premium Benefits</strong></li>
								<li>Highly Targeted Ad Campaigns<i></i><i class="ion-ios-infinite alt-color" data-toggle="tooltip" title="" data-original-title="Multiple Ad Words Campaigns"></i></li>
								<li>Guaranteed High Volume Traffic<strong class="alt-color" data-toggle="tooltip" title="" data-original-title="2500+ users/MO">(?)</strong></li>
								<li><i class="fa fa-close text-danger"></i></li>
							</ul>
						</div>
						<div class="plan-footer">
							<a href="javascript:void(0);" class="btn btn-danger" title="Start your speed booster plan">Start Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


</div>