<div class="overflow_wrapper">

     <div class="full_page_photo" style="background-image: url(pics/analyscreen.jpg);">
          <div class="hgroup">
               <div class="hgroup_title animated bounceInUp">
                    <div class="container">
                         <h1>What we Do!</h1>
                    </div>
               </div>
               <div class="hgroup_subtitle animated bounceInUp skincolored">
                    <div class="container">
                         <p>Let us design your <strong>perfect web presence.</strong>  <strong></strong></p>
                    </div>
               </div>
          </div>
     </div>
     <div class="main">
          <div class="container triangles-of-section">
               <div class="triangle-up-left"></div>
               <div class="square-left"></div>
               <div class="triangle-up-right"></div>
               <div class="square-right"></div>
          </div>

          <!-- HORIZONTAL TEASER SECTION WITH 20 20 PLUGIN -->

          <section class="horizontal_teaser">
               <div class="container">
                    <div class="row">
                         <div class="col-sm-12 col-md-4 horizontal_teaser_left">
                              <h3>Trust our vision! But double check</h3>
                              <p>We belive in agile development, and this means daily stand-ups, weekly retrospectives and scrum boards. We try to allow for the highest level of involvement from our clients, and it hasnt failed us yet.</p>
                              <p>We've heard the phrase "People don't know what they want," quite often in the develoment world. We will change that, and all of our clients <strong>will</strong> know exactly what they want, are getting and have gotten.</p>
                         </div>
                         <div class="col-sm-12 col-md-8 horizontal_teaser_right centify">
                              <!--<figure style="background-image:url(images/portfolio/t4.jpg)"> </figure>-->
                              <div class="twentytwenty-container"> <img src="pics/ruby.jpg" alt="before" /> <img src="pics/responsive.jpg" alt="after" /> </div>
                         </div>
                    </div>
               </div>
          </section>

          <!-- /HORIZONTAL TEASER SECTION WITH 20 20 PLUGIN -->

          <!-- SERVICES SECTION -->

          <section class="services_teasers dark_section">
               <div class="container triangles-of-section">
                    <div class="triangle-up-left"></div>
                    <div class="square-left"></div>
                    <div class="triangle-up-right"></div>
                    <div class="square-right"></div>
               </div>
               <div class="container">
                    <h2 class="section_header fancy centered">We provide services<small>that stand out for innovation, quality and efficiency.</small></h2>
                    <div class="row">
                         <div class="col-sm-4 col-md-4">
                              <div class="service_teaser vertical">
                                   <div class="service_photo">
                                        <figure style="background-image:url(pics/design.png)"></figure>
                                   </div>
                                   <div class="service_details">
                                        <h2>Design and Wireframing </h2>
                                        <p>Whether you are building a website or application, wireframing and design work can be the extra step to ensure quality of the build.</p>
                                   </div>
                              </div>
                         </div>
                         <div class="col-sm-4 col-md-4">
                              <div class="service_teaser vertical">
                                   <div class="service_photo">
                                        <figure style="background-image:url(pics/code.png)"></figure>
                                   </div>
                                   <div class="service_details">
                                        <h2>Web Development</h2>
                                        <p>Mobile-first web development, we <strong>live</strong> for this. Get on board with a modern website or application today. </p>
                                        <a class="btn btn-primary" href="mailto:sparkcollaboration@gmail.com">Get Started today.</a> </div>
                              </div>
                         </div>
                         <div class="col-sm-4 col-md-4">
                              <div class="service_teaser vertical">
                                   <div class="service_photo">
                                        <figure style="background-image:url(pics/search.png)"></figure>
                                   </div>
                                   <div class="service_details">
                                        <h2>Search Engine Optimization</h2>
                                        <p>Get <strong>noticed.</strong> With our powerful SEO services we will get your name out there and your business recognized.</p>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </section>

          <!-- /SERVICES SECTION -->

          <!-- PRICING PLANS SECTION -->

          <section class="pricing_wrapper">
               <div class="container triangles-of-section">
                    <div class="triangle-up-left"></div>
                    <div class="square-left"></div>
                    <div class="triangle-up-right"></div>
                    <div class="square-right"></div>
               </div>
               <div class="container">
                    <h2 class="section_header fancy centered">Search Engine Optimization<small></small></h2>
                    <div class="row">
                         <div class="col-sm-4 col-md-4">
                              <div class="pricing_plan wow fadeInUp">
                                   <h3>Basic<strong>Plan</strong> <small></small></h3>
                                   <div class="the_price"><span>$</span>500<small>/month</small></div>
                                   <div class="the_offerings">
                                        <p> <strong></strong> Google Analytics </p>
                                        <p> <strong></strong> GMB Registering </p>
                                        <p> <strong>5</strong> Blog Posts weekly </p>
                                   </div>
                                   <!-- <a href="#" class="btn btn-primary">Get it Now!</a>  -->
                              </div>
                         </div>
                         <div class="col-sm-4 col-md-4">
                              <div class="pricing_plan special wow fadeInUp">
                                   <h3>Plus<strong>Plan</strong> <small>Basic +</small></h3>
                                   <div class="the_price"><span>$</span>750<small>/month</small></div>
                                   <div class="the_offerings">
                                        <p> <strong></strong> Social Media Content Creation </p>

                                        <p> <strong>7</strong> Blog Posts Weekly </p>
                                   </div>
                                   <!-- <a href="#" class="btn btn-primary">Get it Now!</a>  -->
                              </div>
                         </div>
                         <div class="col-sm-4 col-md-4">
                              <div class="pricing_plan wow fadeInUp">
                                   <h3>Premium<strong>Plan</strong> <small>Plus +</small></h3>
                                   <div class="the_price"><span>$</span>1000<small>/month</small></div>
                                   <div class="the_offerings">
                                        <p> <strong></strong> Ad Words Campign </p>
                                        <br>
                                        <p> <strong>9</strong> Blog Posts Weekly </p>
                                   </div>
                                   <!-- <a href="#" class="btn btn-primary">Get it Now!</a>  -->
                              </div>
                         </div>
                    </div>
                    <div class="centify">
                         <div class="jumbotron">
                               <p> <h2>Ask about our sign-on discounts and receive big savings.</h2></p>
                         </div>

                         <a class="btn btn-primary" href="mailto:sparkcollaboration@gmail.com">Get Started</a>
                    </div>
               </div>
          </section>

          <!-- /PRICING PLANS SECTION -->

          <!-- CALL TO ACTION SECTION -->

          <section class="parallax skincolored call_to_action" style="background-image:url(images/parallax.jpg)">
               <div class="overlay"> <img alt="responsive" src="pics/happy.png">
                    <h3>we build with the <strong>end user in mind.</strong> </h3>
                    <h4>our <strong>customers</strong> are always <strong>happy</strong>!</h4>
               </div>
          </section>

          <!-- /CALL TO ACTION SECTION -->



     </div>



</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67120211-1', 'auto');
  ga('send', 'pageview');

</script>

<script type="text/javascript">
     window._pt_lt = new Date().getTime();
     window._pt_sp_2 = [];
     _pt_sp_2.push('setAccount,79680210');
     var _protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
     (function() {
          var atag = document.createElement('script'); atag.type = 'text/javascript'; atag.async = true;
          atag.src = _protocol + 'js.ptengine.com/pta.js';
          var stag = document.createElement('script'); stag.type = 'text/javascript'; stag.async = true;
          stag.src = _protocol + 'js.ptengine.com/pts.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(atag, s);s.parentNode.insertBefore(stag, s);
     })();
</script>

<script type='text/javascript' data-cfasync='false'>(function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '15ac40d4-262e-49da-b948-93b1cf882fed', f: true }); done = true; } }; })();</script>