<section class="page-title style6 full-screen" data-vide-bg="video/ocean" data-vide-options="position: 50% 50%, resizing: true">
	<div class="bottom-align">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="strong text-uppercase">Web Applications</h1>
					<ol class="breadcrumb">
						<li><a href="javascript:void(0);"><i class="fa fa-home"></i></a></li>
						<li><a href="javascript:void(0);">Pages</a></li>
						<li class="active">Services</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<a href="#next" class="arrow bounce" title="About Me"><i class="fa fa-angle-down"></i></a>
</section>
<!-- page title style6 END -->

<!-- page content START -->
<div class="content" id="content">

	<!-- section START -->
	<section class="section" id="next">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center">
					<div class="section-header">
						<small class="text-uppercase strong base-color">Dynamic Web Applications</small>
						<h1>Our Most Advanced Product</h1>
					</div>

					<!-- optional spacer classes "spacer-10" "spacer-20" "spacer-30" upto "spacer-80" -->
					<hr class="spacer-30">
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="icon-box style5">
						<i class="ion-ios-speedometer"></i>
						<h4 class="box-title strong">Modern Web Deisgn</h4>
						<p>Utilizing modern web practices we build you a presence that screams "Check me out." Get modern, get designed and get recognized..</p>
						<a href="javascript:void(0);" class="btn btn-primary btn-sm sq-corner" title="View Details"><i class="octicon octicon-link"></i></a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="icon-box style5">
						<i class="ion-ios-mic"></i>
						<h4 class="box-title strong">Beautiful Web Presence</h4>
						<p>Build a Beautiful web presence that you can log into to gain access to tons of extra features.</p>
						<a href="javascript:void(0);" class="btn btn-primary btn-sm sq-corner" title="View Details"><i class="octicon octicon-link"></i></a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="icon-box style5">
						<i class="ion-ios-locked"></i>
						<h4 class="box-title strong">SEO friendly</h4>
						<p>Show up where it matters. Make sure consumers and prospects can find your business when looking on search engines. </p>
						<a href="javascript:void(0);" class="btn btn-primary btn-sm sq-corner" title="View Details"><i class="octicon octicon-link"></i></a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="icon-box style5">
						<i class="ion-ios-nutrition"></i>
						<h4 class="box-title strong">Secure Solutions</h4>
						<p>We use custom authentication and highly secure password hashing algorithms. Your information is secure.</p>
						<a href="javascript:void(0);" class="btn btn-primary btn-sm sq-corner" title="View Details"><i class="octicon octicon-link"></i></a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="icon-box style5">
						<i class="ion-ios-pint"></i>
						<h4 class="box-title strong">Mobile First</h4>
						<p>Consumers can access your website wherever they have the ability to go online, from any device: Phone, tablet or computer.</p>
						<a href="javascript:void(0);" class="btn btn-primary btn-sm sq-corner" title="View Details"><i class="octicon octicon-link"></i></a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="icon-box style5">
						<i class="ion-ios-paw"></i>
						<h4 class="box-title strong">Ongoing Maintenance</h4>
						<p>Every website application from Deep Blue Development comes with a 3 month maintenance contract.</p>
						<a href="javascript:void(0);" class="btn btn-primary btn-sm sq-corner" title="View Details"><i class="octicon octicon-link"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="row">
				<div class="col-md-6">
					<h3><strong>Reach Out</strong></h3>
					<p>Simply complete the form below and we will get in touch with you shortly.</p>
					<hr class="spacer-20">

					<form method="post" id="contact-multi" action="php/send-multi.php" role="form" novalidate="novalidate">
						<fieldset>
							<legend>Contact Form</legend>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="firstname">First name <sup data-toggle="tooltip" title="" data-original-title="First name is required">*</sup></label>
										<input type="text" class="form-control" id="firstname" name="firstname" required="">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="lastname">Last name <sup data-toggle="tooltip" title="" data-original-title="Last name is required">*</sup></label>
										<input type="text" class="form-control" id="lastname" name="lastname" required="">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="email">Email address <sup data-toggle="tooltip" title="" data-original-title="Email address is required">*</sup></label>
										<input type="text" class="form-control" id="email" name="email" required="">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="phone">Phone</label>
										<input type="text" class="form-control" id="phone" name="phone">
									</div>
								</div>
								<div class="col-sm-12">
									<div class="form-group">
										<label for="website">Website</label>
										<input type="text" class="form-control" id="website" name="website">
									</div>
								</div>
								<div class="col-lg-12">
									<div class="form-group">
										<label for="message">Whats on your mind?</label>
										<textarea class="form-control" id="message" name="message" rows="3"></textarea>
									</div>
								</div>
								<div class="col-lg-12">
									<div class="form-group text-right">
										<button type="submit" class="btn btn-primary contact-btn" id="send">Send message</button>
									</div>
								</div>
							</div>
						</fieldset>
					</form>
						<!-- container for success and error messages -->
						<div id="response" class="response"></div>

					<hr class="spacer-20">

				</div>

			</div>

</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67120211-1', 'auto');
  ga('send', 'pageview');

</script>

<script type="text/javascript">
  window._pt_lt = new Date().getTime();
  window._pt_sp_2 = [];
  _pt_sp_2.push('setAccount,79680210');
  var _protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
  (function() {
    var atag = document.createElement('script'); atag.type = 'text/javascript'; atag.async = true;
    atag.src = _protocol + 'js.ptengine.com/pta.js';
    var stag = document.createElement('script'); stag.type = 'text/javascript'; stag.async = true;
    stag.src = _protocol + 'js.ptengine.com/pts.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(atag, s);s.parentNode.insertBefore(stag, s);
  })();
</script>
<script type='text/javascript' data-cfasync='false'>(function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '15ac40d4-262e-49da-b948-93b1cf882fed', f: true }); done = true; } }; })();</script>