
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 951296410;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/951296410/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<section class="page-title style3" data-path="img/headers/header3.jpg">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="strong text-uppercase">Services</h1>
				<ol class="breadcrumb hidden-xs">
					<li><a href="javascript:void(0);"><i class="fa fa-home"></i></a></li>
					<li><a href="javascript:void(0);">Pages</a></li>
					<li class="active">Services</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<hr class="spacer-30">
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="icon-box style1">
				<i class="livicon" data-name="responsive" data-color="#f62459" data-hovercolor="false" data-size="48" data-onparent="true"></i>
				<h4 class="box-title strong"><a href="/websites">Mobile-Responsive Website</a></h4>
				<p>Being responsive isn't an add on, at Deep Blue its a default. Google's updated search algorithm warrants new standards and Deep Blue wants your business to stand out.</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="icon-box style1">
				<i class="livicon" data-name="star-full" data-color="#f62459" data-hovercolor="false" data-size="48" data-onparent="true"></i>
				<h4 class="box-title strong">	<a href="/web-apps">Web Applications<a></a></h4>
				<p>See how a CRM, Custom Web Application or online solution can propel your efficiency to the next level.</p>
			</div>
		</div>
	</div>
</div>
<hr class="spacer-30">
<section>
<a class="info-box bg-danger text-center no-margin wow flipInX" data-wow-delay="0.5s" href="https://docs.google.com/a/deepbluedev.co/forms/d/1WKl8bRBosk2jfnqHPZXaEur02RZwkK3V44cnhwKtgX4/viewform?usp=send_form">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<i class="livicon pull-right visible-lg" data-name="angle-double-right" data-color="#fff" data-hovercolor="false" data-size="36" data-onparent="true"></i>
				<p class="h2">Contact us, and get in touch with a Web Developer today!</p>
			</div>
		</div>
	</div>
</a>
</section>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67120211-1', 'auto');
  ga('send', 'pageview');

</script>

<script type='text/javascript' data-cfasync='false'>(function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '15ac40d4-262e-49da-b948-93b1cf882fed', f: true }); done = true; } }; })();</script>

<!-- Start of Async HubSpot Analytics Code -->
  <script type="text/javascript">
    (function(d,s,i,r) {
      if (d.getElementById(i)){return;}
      var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
      n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/1752173.js';
      e.parentNode.insertBefore(n, e);
    })(document,"script","hs-analytics",300000);
  </script>
<!-- End of Async HubSpot Analytics Code -->
