<!-- Meta tags -->
<meta property="og:url"         content="http://www.deepbluedev.co/white-label" />
<meta property="og:type"        content="website" />
<meta property="og:title"       content="Your Mobile-First Web Heroes" />
<meta property="og:description" content="Deep Blue Dev can handle all your web needs and presence. Websites, Web applications, Search engine and Mobile Optimization." />
<meta property="og:image"       content="http://i.imgur.com/jzcej1u.png" />

<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 951296410;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/951296410/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

	<section class="page-title style5" data-path="img/headers/header12.jpg" style="background: url(img/headers/header12.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="strong text-uppercase">White Label Solutions</h1>
				</div>
			</div>
		</div>
		<a href="#next" class="arrow bounce" title="Scroll Down"><i class="fa fa-angle-down"></i></a>
	</section>

<div class="content" id="content">
	<a id="next"></a>
	<section class="section gray-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 text-center">
						<div class="section-header">
							<small class="text-uppercase strong base-color">We believe in Strategic Partnerships</small>
							<h1>Get Involved Today</h1>
						</div>

						<!-- optional spacer classes "spacer-10" "spacer-20" "spacer-30" upto "spacer-80" -->
						<hr class="spacer-30">
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="icon-box style2">
								<i class="icon-telescope"></i>
								<h4 class="box-title strong">White Label Development</h4>
								<p>We have the means to handle all of your development needs. We are utilizing the latest technologies and can rapidly deliver cost-effective results. Are you having issues meeting quotas, deadlines, or project requirements? Let Deep Blue be your development arm through White Label Solutions. You can put your business and brand on our developments. What could be better?</p>
								<!-- <a href="javascript:void(0);" class="btn btn-primary btn-sm" title="Service Details">Learn More <i class="fa fa-angle-right"></i></a> -->
							</div>
					</div>
				</div>
			</div>
		</section>

	<section>
		<a class="info-box bg-danger text-center no-margin wow flipInX" data-wow-delay="0.5s" href="https://docs.google.com/a/deepbluedev.co/forms/d/1sm0LrnWkXQqFxJCB_ss8c3C-eOqEqge9AL5JWpg0S5Q/viewform?usp=send_form">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1">
						<i class="livicon pull-right visible-lg" data-name="angle-double-right" data-color="#fff" data-hovercolor="false" data-size="36" data-onparent="true"></i>
						<p class="h2">Get in touch with us to discover how we can propel your development!</p>
					</div>
				</div>
			</div>
		</a>
	</section>


</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67120211-1', 'auto');
  ga('send', 'pageview');

</script>

<script type='text/javascript' data-cfasync='false'>(function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '15ac40d4-262e-49da-b948-93b1cf882fed', f: true }); done = true; } }; })();</script>

<!-- Start of Async HubSpot Analytics Code -->
  <script type="text/javascript">
    (function(d,s,i,r) {
      if (d.getElementById(i)){return;}
      var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
      n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/1752173.js';
      e.parentNode.insertBefore(n, e);
    })(document,"script","hs-analytics",300000);
  </script>
<!-- End of Async HubSpot Analytics Code -->
